[2019-01-08 14:10] dan-hirst opened #6 "Changed location of config.json"
Hi,

In 0.0.8 I set my TEST_UID in config.json which I stored in $PROJECT_ROOT/cypress/config.json.

In 0.1.0 the library appears to be looking for the config file in $PROJECT_ROOT/config.json.

I think you can see this in the new file filepaths.js that sets the location https://github.com/prescottprue/cypress-firebase/blob/d7a84394181866d19b845ed3efa1051e0465e02d/src/filePaths.js#L22

I think thi

[2019-01-08 23:36] prescottprue commented on #6
Thanks for reporting. It is most likley due to how the support for loading config from `cypress.json` (maybe if it isn't there is causes an issue?). Feel free to open a PR, glad that someone is using the new version already!

[2019-01-13 03:35] hoop71 commented on #6
@dan-hirst @prescottprue I think it needs to be inside of the cypress folder if possible. `config.json` is too generic of a name to live at the project root and will no doubt conflict with existing files in many repos.

[2019-01-26 15:08] axacheng opened #7 "Firestore test error shows: Ref at provided path 'xxx/yyy' does not have action "add""
I assume it's something missing while i follow along the doc, so i can not add test data to Firestore.
Plus, I checked my Firestore rule that allows write with everyone(bad, but just for testing for now.).
Please try to help us.

Thanks

[code]

[2019-01-27 01:20] prescottprue commented on #7
You are trying to call `add` on a document instead of on a collection. `add` creates a new document with a unique key, so providing the key makes.

[2019-01-27 03:14] axacheng commented on #7
Hi Scott,

Thanks for your reply. It makes sense to me. I was updated the README example please see my PR.

[code]

[2019-01-27 15:47] dArignac opened #9 "Promise issue on cy.logout"
Hi there,

first, thanks for the project, it helped me a lot!

Unfortunately I have an issue when using `cy.logout`.

I have tests with `cy.login()` in the Cypress `before` hook, those work great.
But I also want to test the logged out state, so I defined `cy.logout()` in the `before` hook accordingly. Those tests fail on the `cy.logout()` command with the following:

[code]

I'm not sure if this

[2019-01-29 20:58] bettinatop22 opened #10 "Firestore update command does not update the document"
Hello,

when I try to update a document in firestore it's not updated and an error occurs with the following message:

This is probably due to the fact that the data for update is not passed in the corresponding command:
https://github.com/prescottprue/cypress-firebase/blob/d7a84394181866d19b845ed3efa1051e0465e02d/src/buildFirestoreCommand.js#L48

I tested it locally by passing the fixturePath as

[2019-02-02 01:38] prescottprue commented on #10
Fix released in [`v0.1.1` release](https://github.com/prescottprue/cypress-firebase/releases/tag/v0.1.1), thanks for reporting and providing the PR.

[2019-02-02 01:38] #10 closed

[2019-02-02 01:39] prescottprue commented on #9
Fix released in [`v0.1.1` release](https://github.com/prescottprue/cypress-firebase/releases/tag/v0.1.1), thanks for reporting and let me know if it doesn't work as expected.

[2019-02-02 01:39] #9 closed

[2019-02-02 01:40] prescottprue commented on #6
Switched the fallback back to being within `cypress` (removing that was not intentional) and released the change as in [`v0.1.1` release](https://github.com/prescottprue/cypress-firebase/releases/tag/v0.1.1). Thanks for reaching out.

[2019-02-02 01:40] #6 closed

[2019-02-02 01:40] prescottprue commented on #7
Merged and released as part of [`v0.1.1`](https://github.com/prescottprue/cypress-firebase/releases/tag/v0.1.1), thanks for the PR.

[2019-02-02 01:40] #7 closed

[2019-02-02 10:37] dArignac commented on #9
Hi Scott, thank you for the fast fix, it works now as expected.

[2019-02-02 12:48] Florian007 opened #13 "NODE_TLS_REJECT_UNAUTHORIZED"
Hi, thank you for your great work. I'm succesfully authenticating with your library, but get the following error when I'm trying to connect to the realtime firebase database:

Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification.

I tried it with this script:

describe("Account Page", (

[2019-02-02 19:56] prescottprue commented on #13
@Florian007 When calling login, a custom token is generated and passed to the window, but it is still up to your application code to take that custom token and login through Firebase.
Make sure you have the following (from [fireadmin as an example](https://github.com/prescottprue/fireadmin/blob/master/src/store/createStore.js#L75-L78))

Add this in your create store file, so that you can initializ

[2019-02-02 21:05] Florian007 commented on #13
The complete Error:
Error:       CypressError: cy.exec('npx firebase database:set /projects/ABC123 [object Object] -P XXXXXXXX -y') failed because the command exited with a non-zero code.

Pass {failOnNonZeroExit: false} to ignore exit code failures.

Information about the failure:
Code: 2

Stderr:
(node:79996) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS

[2019-02-02 21:49] Florian007 commented on #13
Thank you for your fast answer. But I don't really have a Store. I'm using it only in a cypress Test which I've now updated with your fbInstance Test.

import firebase from "firebase/app"
import "firebase/auth"
import "firebase/database"
import "firebase/firestore"
import { fbConfig } from "../../support/commands"

describe("Firebase RDB Save", () => {
  before(() => {
    // Login using custom to

[2019-02-02 22:04] Florian007 commented on #13
If I add the failOnNonZeroExit option to your command in attachCustomCommands.js the error goes away.
`cy.exec(rtdbCommand, { failOnNonZeroExit: false })`

But I then get in cypress on the exec command:
Yielded:
{stdout: "", stderr: "env: node: No such file or directory", code: 127}

[2019-02-02 22:08] Florian007 commented on #13
The yielded output form above exactly comes after the promise by the "then" like you can see here.

<img width="617" alt="bildschirmfoto 2019-02-02 um 23 07 08" src="https://user-images.githubusercontent.com/1918230/52169876-6efce080-273f-11e9-9076-1b60ce187d99.png">

[2019-02-03 00:29] aviyam1811 opened #14 "feat(cy.login): login from different users using cy.login()"
Does the framework support login via different users?
I have several roles in my app and I want to test each one of them.
Can I declare on different TEST_UIDs in the config in use different users in the tests or there is a workaround for this?

[2019-02-03 01:46] prescottprue commented on #14
It is not currently supported, but this is a feature I for sure want to add. What are you thinking for how to select it? Maybe passing the param name into `cy.login` like `cy.login('TEST_UID2')` ?

[2019-02-03 01:52] aviyam1811 commented on #14
Yeah I think it's good.
Maybe add users section in the config so it looks like:
[code]
And then use it like `cy.login("role1")`

[2019-02-03 04:15] prescottprue commented on #14
Oh, I really like that idea! Much reads much more clearly. We may want to make that an object though, so we can select by key (I think that is what you actually meant to put):

[code]

Cool, I'll add this as a feature to build. Feel free to make a PR if you get a chance, if not I will try to get to it when I can.

[2019-02-04 00:30] aviyam1811 commented on #14
I tried to fix it but currently I don't have time for it.
Could you please estimate an time for this feature to be supported?

[2019-02-04 14:47] dan-hirst commented on #6
Thanks! 👍

[2019-02-20 03:59] bailejl opened #15 "feat(commands): ability to check auth user from cy command"
Your plugin is great.  It save me a lot of time with my Cypress testing.  I have a need to access the Firebase Admin tool from my testing. Basically, I want to verify user are created correctly, for now.  Are you interested in expanding this plugin?  If so, I would like to help.

[2019-02-20 22:22] prescottprue commented on #15
Glad to hear it helped 😄

Yes definitely interested in the feature! Had already been thinking of this as a feature and just having gotten to it yet (assuming you are talking about verifying user's created in the auth tab). This feature or any others are always welcome as PRs, but I will try to get to it in the next few weeks if you don't get a chance. Thanks for reaching out!

[2019-02-23 17:49] bailejl commented on #15
@prescottprue Glad you are interested in the feature.

Yes, I was talking about the auth tab.  :-)

[2019-02-24 12:22] prescottprue commented on #14
When starting to investigate I realized that this could create some difficult if multiple logins happen without logout happening first. It is tough to estimate a time, I'll continue to investigate and post updates here.

[2019-04-14 09:47] molchiro opened #20 "bug(commands): can not log out correctly with cy.logout()"
It helps me a lot to test the firebase project. Thanks.

But, cy.logout() don't run correctly.

In logout command, you use 'firebase.auth().currentUser'.
The official document says currentUser might also be null because the auth object has not finished initializing.
https://firebase.google.com/docs/auth/web/manage-users?hl=en#get_the_currently_signed-in_user

So, it is better to use onAuthStateCha

[2019-04-26 06:41] idrisadetunmbi opened #21 "Authenticating in CI"
Is there a provision for an alternative to `serviceAccount.json` since it can't possibly be checked in to VC to be used in the CI? There are some CI variables stated in the readme, but they only apply to other firebase tools used by the library.

[2019-04-29 23:10] prescottprue commented on #21
`SERVICE_ACCOUNT` is a supported environment variable that was added in [v0.1.5](https://github.com/prescottprue/cypress-firebase/releases/tag/v0.1.5), setting this environment variable to a string which contains the service account object will take precedence over the `serviceAccount.json`.

That said, with older versions, you can put a simple command before your using firebase-ci that turns an e

[2019-05-01 15:24] TapaiBalazs commented on #14
I just add my two cents here:
I have a really small app with only user and admin roles, and I serve one app instance on localhost:1111 for the simple user and on localhost:2222 for the admin user tests. They can run parallelly, requires some small effort for visiting the proper URL in the actual tests.
I know it might not be that cost effective or ideal to run an instance for every role just to be

[2019-05-09 22:28] Xiaochi-Li opened #23 "question(createTestEnvFile): can't access SERVICE_ACCOUNT env var on CircleCI"
I've been trying to run cypress-firebase on CI, but keep getting this error:
[code]
I tried different things:
1. p a STAGE_FIREBASE_PRIVATE_KEY env var with firebase private key in it
2. wrap serviceAccount object in ""
3. unwrap serviceAccount object

none of them works.

[2019-05-10 06:10] prescottprue commented on #23
Did you try the `SERVICE_ACCOUNT` environment variable as a string? It should be documented better, but that is also an option. I will look into trying to reproduce, thanks for reporting

[2019-06-18 21:31] prescottprue commented on #23
Ping - wondering version you were running and if you got a chance to try the `SERVICE_ACCOUNT` environment variable.

[2019-06-20 11:21] orthodoc commented on #23
I am running into the same problem.

@prescottprue, I am able to run the tests locally. But at circleci, I am lost.
What is the meaning of Step 6? Do I do this?
`SERVICE_ACCOUNT: "serviceAccount.json"`

[2019-06-20 19:19] prescottprue commented on #23
The purpose is to actually assign the whole service account object as an environment variable string i.e.:

[code]

Thanks for posting what you are doing in the mean time

[2019-06-24 00:12] prescottprue commented on #20
Fixed in v0.2.0-alpha.5 available from the `next` tag (i.e. `npm i cypress-firebase@next`)

[2019-06-24 00:12] #20 closed

[2019-06-24 10:39] molchiro commented on #20
Thanks a lot. I will try to use it now!

[2019-07-01 20:51] prescottprue commented on #20
v0.2.0 also includes removing the `cy.log` which can cause a cypress log warning about promises in some cases

[2019-07-09 23:16] raulingg opened #33 "Unexpected error with new version 0.2"
[code]
![Screenshot from 2019-07-09 18-12-33](https://user-images.githubusercontent.com/9435850/60929026-3ecce700-a275-11e9-886e-b0648a36c86f.png)

my `package.json`

[code]

I need to say that it works fine with the previous version.

[2019-07-09 23:51] raulingg opened #34 "Unexpected DEADLINE_EXCEEDED error"
error trace
[code]
![Screenshot from 2019-07-09 18-46-24](https://user-images.githubusercontent.com/9435850/60930245-62466080-a27a-11e9-9866-a74a3d23d031.png)

my `devdependencies`:

[code]

I need to say this error just happens sometimes rarely.

[2019-07-15 00:33] prescottprue commented on #33
What version of nodejs are you using? Newer versions drop support for older versions of node

[2019-07-28 20:49] stijnvanlieshout commented on #13
I'm facing the same issue:
<img width="860" alt="Screenshot 2019-07-28 at 22 47 21" src="https://user-images.githubusercontent.com/8589586/62012692-e446ec80-b189-11e9-81c1-29a45dfd0158.png">

Did you end up finding a solution?

[2019-07-29 15:40] travwritescode opened #35 "Add support for custom developer claims when generating custom token"
In createTestEnvFile.js add support for using custom developer claims to your Firebase instance, building on existing isTesting claim.

This plugin is great and I think it will save me and my team a lot of time in testing. This is a feature I need in a timely manner so I may have a PR coming your way on it :)

[2019-07-31 02:57] prescottprue commented on #35
Added in v0.2.1, thanks for the PR!

[2019-07-31 02:57] #35 closed

[2019-08-01 21:41] travwritescode opened #39 "bug(cy.callFirestore): fixture path being appended with double quotes"
When using the `callFirestore()` function and passing a fixture path as third argument, the path to the fixture is being appended to the full path with double quotes.

So I am trying to set some data in the database from my fixture path `featureFlags/someFeatureFlag.json` which is in my project at this file path: `test/e2e/fixtures/` but I am receiving the error `Error running firebase action: Fix

[2019-08-02 18:00] prescottprue commented on #39
Thanks for reporting! That may have something to do with the newer feature for passing data directly instead of just the path.

[2019-08-02 18:22] travwritescode commented on #39
@prescottprue The two calls to `JSON.stringify(fixturePath)` in the file `buildFirestoreCommand.js` seem to be the culprit. After removing them locally though, the file path is correct but the JSON files at the fixture path are not being found with error `Error running firebase action: Fixture not found at path: `

[2019-08-02 18:31] prescottprue commented on #39
@travwritescode Great to know! Makes total sense since that is from the new data passing feature - we should only do that if the argument is an Object (since when it is a string it is clearly a path).

Before we get the fix out you should be able to pass the loaded fixture as an object as the third argument.

[2019-08-05 17:33] travwritescode opened #40 "Pass FIREBASE_TOKEN in firestore:delete"
When using the `callFirestore('delete')` command, is there currently a way to pass the firebase token generated from `firebase-tools login:ci` as an option? Currently the command looks as though passing an options object does nothing as the passed in object is ignored while a new one is created with Cypress and args arguments: `const deleteArgsWithDefaults = addDefaultArgs(Cypress, args);`

In my

[2019-08-06 03:49] prescottprue commented on #39
Just to clarify, what I meant for loading a fixture before hand:

[code]

[2019-08-06 04:01] prescottprue commented on #40
{assing in the options object with `args` should allow this to be passed along, like so:

[code]

That said, I am looking into automatically including the token if it is set to the Cypress environment

[2019-08-12 21:52] shiva opened #41 "using cypress-firebase with vue cli projects"
cypress-firebase assumes hard-coded locations for the cypress.json file among other files. vue-cli extension for cypress places the files in a different base location that is assumed by this module. Is there a way that I can customize, or pass the location of the files needed for this module to work?

I could fork and make the changes if you have suggestions on how you'd approach fixing file paths

[2019-08-12 22:58] prescottprue commented on #41
As mentioned in [the folders section of the docs](https://github.com/prescottprue/cypress-firebase#folders), you can set different folders for the different files, but that is it (wouldn't handle the case of a custom `cypress.json` path).

Definitely open to a PR if you get the time, thanks for reporting!

[2019-08-13 07:19] shiva commented on #41
I realized that the issue wasn't that my cypress.json wasn't getting loaded, it was that config.json was always being read from cypress/config.json, instead of {integrationFolder}/config.json. I will close this issue and raise that as a separate one with a PR

[2019-08-13 07:19] #41 closed

[2019-08-13 07:24] shiva opened #42 "Building testConfig fails to find uid when using custom integration folder"
When using a custom integration folder, building testConfig fails as follows:

[code]

cypress.json:
[code]

[2019-08-13 07:31] shiva commented on #42
https://github.com/prescottprue/cypress-firebase/blob/e2cf6fe69f4dfe8abcc34fd359a544ced3138a8c/src/utils.js#L89 seems to be the issue. We check for hard-coded path, instead of resolving the base path using getCypressFolderPath().

[2019-08-15 17:50] prescottprue commented on #40
Released in v0.2.2

[2019-08-15 17:50] #40 closed

[2019-08-15 17:51] prescottprue commented on #42
Included in v0.2.2, thanks for the PR

[2019-08-15 17:51] #42 closed

[2019-08-16 15:40] travwritescode opened #45 "window.fbInstance undefined on Cypress test runner"
The application I am currently trying to test is built on auth0 for authentication and uses a Firestore backend. Auth0 authentication is done completely separately from anything relating to Firestore, so first we do that and it is working fine.

Using cypress-firebase we are able to seed data in the Firestore instance using the custom commands `cy.callFirestore()` and all methods work including de

[2019-08-19 03:21] prescottprue commented on #45
The actions called through cypress-firebase including `cy.callFirestore` actually use firebase-tools instead of the current user's auth (which is handled by `cy.login`). This is because you will most likely want to be seeding/verifying data in a way which will not adhere to security rules for the client, that means you must have a service account or token for the CLI to use.

Do you have a `cypres

[2019-08-19 03:22] prescottprue commented on #45
The actions called through cypress-firebase incluidng `cy.callFirestore` actually use firebase-tools instead of the current user's auth (which is handled by `cy.login`). This is because you will most likley want to be seeding/verifying data in a way which will not adhere to security rules for the client, that means you must have a service account or token for the CLI to use.

Do you have a `cypres

[2019-08-19 19:14] travwritescode commented on #45
I have a `cypress.env.json` and I call `cypress-firebase createTestEnv` before running tests. If `cy.login()` handles the user's auth for the current user then maybe that is the missing piece.

When calling `cy.login()` in a before hook on my tests, the before hook fails and when I print the message to the console in the Cypress runner, I see the error: `Error: Your API key is invalid, please chec

[2019-08-19 23:17] prescottprue commented on #45
The API key that is used from `cypress/config.json` is for the front end sdk, so if you have provided a CI token (can be used to auth for seeding/verifying database in place of a service account). As [shown in the setup section](https://github.com/prescottprue/cypress-firebase#setup), the config gets passed to `firebase.initializeApp` inside of your cypress commands file - this is most likley wher

[2019-08-20 19:54] travwritescode commented on #45
After further investigating, it appears fbInstance was successfully assigned to _a_ window, just not _the_ window we need it to be assigned to. In Chrome dev tools console in the Cypress runner window, it looks like there are 3 context layers: application - Cypress - spec.

![image](https://user-images.githubusercontent.com/15748191/63379635-f31c5b80-c351-11e9-8323-7f2bf2fa34b5.png)

Executing `wi

[2019-08-20 23:07] dhair-seva commented on #14
I'd be happy to help chip in on making a PR for this. I need this for my team. We have about 4 portals into our app (client with 5 roles, tester portal, captain portal and super portal). I can easily use the current functionality for tester, captain and super. However, the client portal with 5 roles will prove to be difficult.

Couldn't we check the uid that is currently logged in, and if that uid

[2019-08-20 23:15] dhair-seva commented on #14
After thinking about it more, I'm thinking that using:
[code]
and then logging out and back in, when needed will give me what I need. Then I will simply have the test uids within a config object, and use the Admin role as the default TEST_UID (which will be where most of the client portal pages will be tested with).

[2019-08-22 06:42] prescottprue commented on #45
I don't believe we have experienced this issue yet and have been able to authenticate correctly - let me try to replicate and see if I am maybe missing something

[2019-08-24 22:33] dhair-seva opened #47 "feat(core): improve typescript support"
When I import cypress-firebase into my Cypress project, using Typescript, I receive the following error:
[code]

I have already figured out why. For some reason, when importing it through Typescript, cypress-firebase will import utils.js, which has the fs module, but cypress/support/index does not allow it. I found a way to fix this, and have done this locally as a test, but I would much rather ha

[2019-08-26 03:29] prescottprue commented on #47
Thanks for reporting! Moving the fs deps to their own file sounds like a good move, maybe something like `node-utils.js`.

It would probably also help if some types are exported. I have actually been thinking about switching this library over to typescript anyway

[2019-08-29 15:45] mattvukas commented on #13
@stijnvanlieshout I can confirm that I only get this error on Node v12. On Node v10.16.3 (latest LTS version, I no longer get the "Setting the NODE_TLS_REJECT_UNAUTHORIZED..." error.

Otherwise, I am still running into Firestore query permissions issues in our app, even when using the aforementioned `window.fbInstance || firebase` setup when initializing things.

[2019-08-30 03:29] danielmhair commented on #47
That would make things SO much easier, if it were in typescript. Currently, I'm using a mix of code adapted from yours, but still using your commands through the command line. Once you go to Typescript, I will be able to use this completely!

[2019-08-30 05:53] prescottprue commented on #47
@danielmhair since I have been wanting to do it for a while anyway, I dove into the switch. Here is a PR where I started the switch over to typescript: https://github.com/prescottprue/cypress-firebase/pull/49. Planning on releasing it to next soon, but want to test to make sure everything still works as expected. Did you have something in particular that you were looking to import as far as types

[2019-08-31 14:42] dhair-seva commented on #47
That sounds great! I noticed that it has v0.3.0-alpha. Am I able to use that version to test it? I looked through the code and yeah, I think the only thing needed is adding things to the cy object, especially your comments that you have above the functions, like login, logout, etc. Here is what I did before:
[code]

[2019-08-31 19:01] prescottprue commented on #47
That version is not currently released, but when it is, yes you will be able to check it out.

I started to try to do what you did above with the extending of the `cy` object, but within the library. Not sure if I was doing something wrong, but for some reason the cy object was not picking up on the custom commands.

Yes, about the separate imports not from the top level, like you mention, but the

[2019-09-01 00:08] dhair-seva commented on #47
Sounds good. Keep in mind that for typescript to be able to import it, that you declare the module in index.d.ts like this:
[code]

[2019-09-01 23:44] prescottprue commented on #47
Got the custom commands types working with the `declare global`. Added a [typescript example](https://github.com/prescottprue/cypress-firebase/tree/typescript/examples/typescript) where the custom commands were loading successfully, but for some reason I was getting this error:

![image](https://user-images.githubusercontent.com/2992224/64083632-da139300-ccdf-11e9-9a8b-bc909d87a456.png)

Not total

[2019-09-03 18:13] dhair-seva commented on #47
I'm not too sure either, but this looks familiar. I know its not the support/index, but for plugins, I had to make it a plugins/index.js file, not an index.ts file. Not sure if this is it

[2019-09-03 18:15] dhair-seva commented on #47
Actually, just realized that you have index.js for plugins. Nevermind.

[2019-09-03 18:20] dhair-seva commented on #47
However, in my code, I did this:
[code]
Notice that I'm returning cypressFirebasePlugin, but in your example, your not. Is this needed?

[2019-09-03 18:47] prescottprue commented on #47
Potentially, I'll look into it later, thanks for posting. Feel free to make PRs against that branch if you think of other changes 😄

[2019-09-09 07:26] prescottprue commented on #33
Can you confirm it is due to older node version?

[2019-09-09 07:28] #33 closed

[2019-09-09 08:39] prescottprue commented on #47
Got the example working so I went ahead and released [v0.3.0-alpha](https://github.com/prescottprue/cypress-firebase/releases/tag/v0.3.0-alpha) to the `next` tag. Going to test it a bit more with some of the applications I have with tests that use cypress-firebase.

Let me know if you get a chance to give it a shot 😄

[2019-09-15 04:29] ralphsmith80 opened #54 "Invalid token format on `cy.login`"
I have a simple test to validate authentication.

[code]

I get the following error while running cypress and my app locally as well as when running cypress locally and pointing at my actual instance firebase instance.
[code]

I've created a new private key using a service account and saved it as `serviceAccount.json` as well as everything else outlined in the setup section. Everything looks like

[2019-09-15 18:25] prescottprue commented on #54
Interesting, thanks for reaching out. Auth works on a few of the apps I am testing with cypress-firebase, so maybe one of the setup steps was unclear or left out?

What names did you use for the values you set in cypress.env.json. Did you use createTestEnv to make the file or did you do it manually?

[2019-09-16 22:46] ralphsmith80 commented on #54
Thanks for responding! I'm with you. Everything appears to be okay. I spent a couple of days reviewing the docs to make sure it wasn't something obvious.

This is what my relevant files look like (values omitted):

cypress.env.json
[code]
serviceAccount.json
[code]

I used `createTestEnv` via `package.json` scripts to make the file but I did name them to my own liking.

package.json scripts
[code]

[2019-09-17 00:08] prescottprue commented on #54
Thanks for the info - Are you setting the `FIREBASE_AUTH_JWT` value yourself or are you having it set by `createTestEnvFile`?

[`firebase.auth().signInWithCustomToken` is called internally](https://github.com/prescottprue/cypress-firebase/blob/master/src%2FattachCustomCommands.js) with this value, and it seems like this error is called if it is not a valid custom Firebase token. I see that you not

[2019-09-17 03:16] dhair-seva commented on #47
Thanks for that! I downloaded that version, and it worked great on my end! In fact, it worked much nicer than my make-shift version :)

That being said, I have an error occuring. I will log it as a separate bug, though

[2019-09-17 03:23] dhair-seva opened #55 "Receiving Firebase Permission Errors (in my app) when I use call initializeApp in cypress"
I have been receiving "Permission Denied" errors when I add cypress with the following code:
[code]

Here is the full `support/index.ts` file:
[code]
If I remove the initializeApp, my registration page passes without these errors. But if its in there, then it will fail with over 4-5 permission errors.
Keep in mind that I'm using:
- Angular 8+
- "cypress-firebase": "0.3.0-alpha" (for typescript sup

[2019-09-17 03:31] ralphsmith80 commented on #54
I'm letting `createTestEnvFile` set the `FIREBASE_AUTH_JWT` value.

In an attempt to pair this down to a minimal use case I created a simple test script. I'm pulling values directly from the files noted in the setup. This test is successful.

If you're around tomorrow evening and we're still stumped I'll ping you on gitter.

[code]

[2019-09-17 04:46] prescottprue commented on #55
In the examples there is code [to check the window for a Firebase instance, and only initialize if that isn't in place](https://github.com/prescottprue/cypress-firebase/blob/master/examples/react-redux-firebase/src/store.js#L11-L19). Have you given something like that a try?

I thought that was already in the setup instructions, but doesn't appear to be, so I'll update that.

[2019-09-17 05:03] prescottprue commented on #47
Great to know, got it working with the example too, so going to do a bit more testing then get it ready for `latest`

[2019-09-17 05:08] prescottprue commented on #54
Glad something worked! That is interesting that the test script worked - would love to get to the bottom of this one :)

[2019-09-17 06:02] dhair-seva commented on #55
Thanks for that information. So your saying it should be like this?
[code]

Yeah, I will try to make that example. That would be nice to have that example. Once I get some time, I will do that!

[2019-09-17 06:17] dhair-seva commented on #55
This worked! At least, from what I can tell. Thank you!

[2019-09-17 06:17] #55 closed

[2019-09-17 06:37] dhair-seva commented on #55
I decided to begin adding the Angular example to this repo. However, I was wondering if you could send me the fbConfig? I would like them to be in your list of projects so its all in one place. Just like you have in the other places like so:
![image](https://user-images.githubusercontent.com/51764839/65017200-5a8ee200-d8e3-11e9-86c8-92eafd851106.png)

[2019-09-17 07:05] dhair-seva commented on #55
I have a branch (from my fork of your repo). Its not complete, as I haven't done tests, and this is really just copying my logic over, but if you had time to chip in (and add the firebase config and such), there it is!

https://github.com/dhair-seva/cypress-firebase/tree/feature/dmh/angular-example

[2019-09-17 07:11] dhair-seva commented on #55
In a day or so, I will have a branch open to look at. Currently, I have a few things to do, before I can do that.

[2019-09-18 01:57] ralphsmith80 commented on #54
Answers:
1. When you say `signIn` I'm just using the logic from above for testing. My app uses Google, Facebook, and email provided by firebase
1. It's does not have `firebase-` it is `keepify-dev`
1. I have a number of projects defined in `.firebaserc` but the `default` is the one I'm looking for
1. I tried to compare against the examples but the test logic I had was nil and I'm only using fireba

[2019-09-18 01:57] #54 closed

[2019-09-18 07:04] prescottprue commented on #54
Awesome to hear, thanks for the update! I always regenerate the token before running tests since I believe they are also invalid after an hour. You clock being wrong could have potentially played a roll, guess we will never know!

[2019-09-19 02:51] ralphsmith80 commented on #23
@prescottprue I'm running into the same issue on Gitlab.

I have the `SERVICE_ACCOUNT` and `FIREBASE_TOKEN` environment variables set. I do have the variable scoped to an environment but I've tried enabling for all environments too.

I converted the contents of `serviceAccount.json` to a string using `JSON.stringify`. That does not include the escape characters. I noticed in your example you only

[2019-09-19 23:16] prescottprue commented on #23
@ralphsmith80 I am able to put the SERVICE_ACCOUNT directly into Gitlab without having to do any delimiting or wrapping the value in a string, did you give that a try? Like so:

![image](https://user-images.githubusercontent.com/2992224/65287677-e2016e80-daf8-11e9-9130-b7fca808a80c.png)

[2019-09-30 23:04] ralphsmith80 commented on #23
@prescottprue I did try that. No dice. I believe this error is the most telling.

I'm not setting this value anywhere `DEV_FIREBASE_PRIVATE_KEY`. Also my project is based off of create-react-app which means I'm not using `NODE_ENV` anywhere explicitly.

https://create-react-app.dev/docs/adding-custom-environment-variables#docsNav

I do have a dev environment in Gitlab which is where I'm testing th

[2019-10-01 02:54] prescottprue commented on #23
@ralphsmith80 Interesting, thanks for the info. Can you confirm again which version you are using? `0.2.5` ?

`SERVICE_ACCOUNT`  and `DEV_SERVICE_ACCOUNT` (environment specific service account) should come before looking for `FIREBASE_PRIVATE_KEY` and `DEV_FIREBASE_PRIVATE_KEY` (the environment specific version of the key). [This line is where the service account is loaded](https://github.com/pres

[2019-10-02 23:56] ralphsmith80 commented on #23
@prescottprue I'm using version `2.5.0`

I did try setting the branch explicitly as you noted (` createTestEnvFile master`) with no luck.

One thing I forgot to mention/question previously regarding how to set the `SERVICE_ACCOUNT` environment variable. In the [README.md for the pre-setup](https://github.com/prescottprue/cypress-firebase#pre-setup) you called out the following.

What does "make su

[2019-10-03 00:21] prescottprue commented on #23
@ralphsmith80 `2.5.0` isn't a version of cypress-firebase, I am guessing you meant `0.2.5`?

What was meant by that is that some provider do not allow you to set an object to the value of an environment variable unless it is wrapped in " (i.e. a string). That isn't an issue for me on Gitlab, and since I believe that is what you are using, you should also be fine.

Are you able to run the tests loc

[2019-10-03 01:08] ralphsmith80 commented on #23
@prescottprue bah! yes I meant `0.2.5`. Trying to type too fast.

It works fine locally with the `./serviceAccount.json` file. If I remove that file then I get an error similar to the on in gitlab but with a different env slug.

[code]

I did mark them as protected but my branches are also protected. I ran into that issue sometime back and it took me a while to find the documentation that a protec

[2019-10-03 03:10] ralphsmith80 commented on #23
While I'm working through this it looks like the expectation is that all values are expected to be present in the `cypress\config.json` if that file exists.

I only have the values noted from step 4 in the [setup](https://github.com/prescottprue/cypress-firebase#setup) in the config file and checked into source control.

The script is hitting [this return path](https://github.com/prescottprue/cypr

[2019-10-03 03:31] ralphsmith80 commented on #23
Based on the last test I ran I see the `SERVICE_ACCOUNT` is read when using `process.env[varNameRoot]` but as noted above I'm not getting there because I have the `cypress/config.json` checked into source.

I believe the following is the correct:

Values expected to be defined in the CI environment variables:
* SERVICE_ACCOUNT :heavy_check_mark:
* TEST_UID :heavy_check_mark:
* FIREBASE_API_KEY :he

[2019-10-03 22:07] prescottprue commented on #23
@ralphsmith80 That may be the case `cypress/config.json` is mean to be used to set your TEST_UID and FIREBASE_PROJECT_ID when developing locally, and that info is used to generate the `cypress.env.json` file.

Totally agree that the instructions should be more clear, and there should be more info about what not to check into src as you are saying. Thanks for continuing to try to debug, really hopi

[2019-10-04 22:40] ralphsmith80 commented on #23
@prescottprue with those changes it looks like everything is working from the cypress-firebase side.

I'm still having problems getting cypress to actually run. Would you mind sharing your `.gitlab-ci.yaml` or a subset of it?

After reviewing the cypress docs I added the following parts which partially addressed errors I was seeing.

[code]

This is the error I'm seeing now:
[code]

This is my `.g

[2019-10-04 22:47] prescottprue commented on #23
[Here is the gitlab config from fireadmin](https://github.com/prescottprue/fireadmin/blob/master/.gitlab-ci.yml), which is a project I created for managing Firebase projects as "environments" and copying data across different projects. A key piece is to use the cypress image for those tests so that you have all of the necessary dependencies for running Cypress. I personally also like to run `$(npm

[2019-10-07 22:29] prescottprue opened #60 "bug(cy.callRtdb): set does not work when called with a value"
The following command call should write a single value (456) to `users/123ABC/someField` path of Real Time Database:

[code]

This currently causes an error

[2019-10-09 06:01] prescottprue commented on #21
Going to close since I believe this has been answered - feel free to post if you still have questions

[2019-10-09 06:01] #21 closed

[2019-10-19 18:20] #60 closed

[2019-10-19 18:20] prescottprue commented on #47
v0.3.0 was released to latest

[2019-10-19 18:20] #47 closed

[2019-10-19 18:21] prescottprue commented on #34
Not sure what version of `cypress-firebase` you are using. Could you try updating to the newest version and see if this is still happening?

[2019-10-19 18:22] prescottprue commented on #39
Fixed in v0.3.0. Feel free to reach out if things are working as expected, thanks for reporting!

[2019-10-19 18:22] #39 closed

[2019-10-19 18:25] prescottprue commented on #23
In `v0.3.0` there was logic added to check for the existence of the value within the local file so that even if the file is there it won't override all environment variables, just the ones located in the file. Also, there is a note in the README now about adding `cypress/config.json` as mentioned by @ralphsmith80.

This should handle the issue being described, but if anyone is still experiencing a

[2019-10-19 18:25] #23 closed

[2019-11-06 21:24] bartlomiejborzucki opened #65 "Node 12 and NODE_TLS_REJECT_UNAUTHORIZED problem"
I checked cypress-firebase 0.4.0 with node 10 and node 12 and IMHO your application has a problem with node 12. I got this error

![error_cypress-firebase](https://user-images.githubusercontent.com/2742766/68338913-ce7b8880-00e3-11ea-9374-b5fc5a9e5349.png)

in my application when I used only node 12. When I used node 10 everything was perfect

My all dependencies (I checked cypress: 3.4.1/3.5.0/3.

[2019-11-07 21:17] prescottprue commented on #65
I have not experienced this, but most often am running node 10. Have you tried doing what the error says and setting the environment variable:

[code]

I'll look into if this should be added as part of the code for newer node versions. Not sure, but it seems like node is trying to make an https request but there is not the write certificate [as mentioned in this stackoverflow post](https://stackov

[2019-11-08 21:50] bartlomiejborzucki commented on #65
Hi,
thanks for the answer. I used the angular-dev server and this specific command: cy.callFirestore.

In the beginning, I thought that it is a cypress problem so I found this issue: https://github.com/cypress-io/cypress/pull/5256/files and upgraded the cypress version to 3.5 and later to 3.6, but this error didn't disappear.

I didn't try this: process.env["NODE_TLS_REJECT_UNAUTHORIZED"] = 0; but

[2019-11-12 08:54] r1ckhenry opened #66 "No such file or directory when invoking callRtdb"
Hi,

I'm running into an error when I call the callRtdb function. I've setup cypress firebase with create-react-app as per the instructions in the examples. However, when I run the following test:

[code]
I get the following error:

[code]
First of all, I tried to pass in the ` {failOnNonZeroExit: false}` with no difference in the error. I've since focussed on the `Stderr:`. I can see firebase is

[2019-11-12 17:22] prescottprue commented on #65
Are you sure [that the fix mentioned in that issue](https://github.com/cypress-io/cypress/pull/5256/files) was included in v3.6 of cypress? I don't see it listed anywhere in the [release notes](https://github.com/cypress-io/cypress/releases), but it is weird because I do see it in [the master branch](https://github.com/cypress-io/cypress/blob/master/packages/server/index.js#L25). I'm going to look

[2019-11-12 20:47] prescottprue commented on #66
Do you have firebase-tools installed? That is what is needed for `firebase` to be available by CLI and for it to add a file to the bin - [it is listed as a peer dependency for this reason](https://github.com/prescottprue/cypress-firebase/blob/master/package.json#L27).

[2019-11-12 21:13] r1ckhenry commented on #66
Thanks so much, I knew it would be something like that! Works perfectly!

[2019-11-12 21:48] bartlomiejborzucki commented on #65
I'm not sure but I found this: https://github.com/cypress-io/cypress/issues/5248
This path was added to Cypress 3.5.

[2019-11-13 01:55] #66 closed

[2019-11-19 02:01] dhair-seva opened #68 "'$' is not recognized as an internal or external command, operable program or batch file."
When starting to use the cy.callFirestore command, I received this error:

![image](https://user-images.githubusercontent.com/51764839/69109644-9b1af100-0a35-11ea-80d3-6ab37161a485.png)

Do I need to install something for it to recognize the $(npm bin) syntax? Actually, I just realized that this could be because I'm using yarn. Any thoughts on this?

[2019-11-19 16:40] prescottprue commented on #68
Hmm... Yarn shouldn't impact the npm bin.

Do you have firebase-tools installed within your project? It is a peer-dependency as it is needed to run commands with admin privileges.

I haven't really seen this before, and not sure why it wouldn't be parsing that as expected. In the past `npx` was used, so I may look into switching back to that instead of a command containing the bin reference.

Just

[2019-11-19 16:57] dhair-seva commented on #68
Thanks for your speedy reply.

I have firebase-tools installed:
**firebase-tools**: 7.8.0
**cypress**: 3.4.1
**cypress-firebase**: 0.4.1

[2019-11-19 16:58] dhair-seva commented on #68
I haven't tried get. I have tried set and delete commands. I will try get and let you know.

[2019-11-19 17:02] dhair-seva commented on #68
Hmm, I'm not sure what I did, but now this is the error I am getting. This is for get, set, and delete commands:
[code]

[2019-11-19 19:41] prescottprue commented on #68
It looks like your file path has a space in it - could you try escaping it by putting a `\` in front of that?

cypress-firebase should definitely handle this case internally, but just want to see if that helps

[2019-11-19 23:54] dhair-seva commented on #68
Good idea! I tried to do the `\` just now, but same error. I also tried changing the space to `%20` (which is what we had to do for firebase rules (to be honest, I wish we could change this, but this is in production code, so I need that. However, it seems that it cannot find the command. I ran this same command in the command line, except changed $(npm bin) to ./node_modules/.bin, and it ran the

[2019-11-20 00:26] prescottprue commented on #68
That is very intesting, not sure why I haven't experienced this. What type of machine are you using to run Cypress? Windows, mac, or linux?

Looks like we may have to switch things back to `npx` instead of using `$(npm bin)`, so I'll look into making that change

[2019-11-20 01:12] dhair-seva commented on #68
I'm on Windows 10. Thanks for your help! I really like this module.

[2019-11-21 16:38] dhair-seva opened #70 "Allow the ability to update the TEST_UID and FIREBASE_AUTH_JWT during a test (if needing to login with other users)"
I have been needing the ability to update the FIREBASE_AUTH_JWT (calling createTestEnvFile) during a test. I think the best way to do this is the move the createTestEnvFile into a task. This would allow us to still use node.js, but still have all the functionality there. Can this be possible?

[2019-11-21 16:38] dhair-seva commented on #70
Here is a reference I used that gave me this idea.
https://glebbahmutov.com/blog/powerful-cy-task/

[2019-11-21 16:57] prescottprue commented on #70
Yes I really like this idea a lot, thanks for posting! I actually was considering this as a way to support adding login for multiple users by UID (as mentioned in #14 ).

[2019-11-21 17:13] dhair-seva commented on #68
I changed this in constants.js on my end:
[code]
And it worked. However, I'm getting this error, but I don't think its related
[code]
I thought that the set command could have an object passed in (I have a function to generate my object to set the value to). Am I using it right? I'm asking in this since I'm making sure this change fixes it.

[2019-11-21 17:17] dhair-seva commented on #70
That would be amazing to have. Now thinking about it, it might be more valuable to directly use your command, kind of like how you use cy.callFirestore. At that point, we could do cy.exec("${npm bin}/createTestEnvFile"). Then we can pass in the uid into this command. Anyway, those are some ideas. After Christmas, I will have more time to help contribute when these type of issues come up. But for n

[2019-11-21 17:28] prescottprue commented on #68
@dhair-seva Glad to hear switching it up worked. For passing in a fixture, you will want to have an object, but it seems like you might have passed a string since it thinks it is a fixture path?

Did you try switching them to using `npx` like `npx firebase-extra` ? I think that might be the best path forward since it will handle local and global versions

[2019-11-21 18:10] dhair-seva commented on #68
@prescottprue  I haven't tried npx. I will when I get a chance. I passed in an object. This is what I used:
[code]
generateTestCase returns an object like:
{ _id: 'my-custom-id', ... }

[2019-11-22 13:14] dhair-seva commented on #70
@prescottprue I tried doing my last comment with this code:
[code]
My script in package.json is:
[code]

I also tried the second exec command to be `node_modules\\.bin\\cypress-firebase createTestEnvFile`. Both commands shut down cypress' browser with no error. If I comment out the second exec command, it runs just fine. It seems that it fails only when I'm running that command. I can run, for exa

[2019-11-22 16:43] dhair-seva commented on #68
I found a workaround, and this way works --
[code]
Then in after(), I delete the file and the database item.

So I know that this error is simply because of the path.

Also, I have now tried npx, and that works great for me.

[2019-11-27 19:57] dhair-seva opened #71 "bug(callFirestore): calling callFirestore with an object does not work on Windows (only fixtures do)"
I tried calling:
[code]
and
[code]
But receive this error:
[code]
It looks like it won't allow an object like your documentation states:
[code]

Versions:
**cypress-firebase:** "0.4.1"
**cypress:** "3.4.1"
**firebase-tools:** "^7.8.0"

This seems like a bug.

[2019-11-28 06:32] prescottprue commented on #71
Thanks for reporting. Yeah it should support both

[2019-11-28 08:34] z4m0 opened #73 "Firestore Emulator support"
Is it possible to add support for Firestore emulator?

[2019-11-28 08:57] prescottprue commented on #73
The emulator is generally used for testing rules [as mentioned in the firebase docs](https://firebase.google.com/docs/rules/emulator-setup), so not sure exactly how support would look (maybe just to insert data?). That said, if you app is connecting to the emulator, then cypress-firebase should as well I believe.

Did you have a use case or example in mind that isn’t working as you expect?

[2019-11-28 19:42] z4m0 commented on #73
Thank you for answering.

The problem I have is that it is still using the non-local DB (maybe I don't know how to configure it?).

I was looking to run the e2e tests in an emulated environment. Actually developing with the emulator also works well.

Seeing the code it seems to me that some changes may need to go in this repo:
https://github.com/prescottprue/firebase-tools-extra

The changes would

[2019-11-29 05:54] prescottprue commented on #73
Oh awesome! I was hoping it supported full emulation, but wasn’t sure based on the docs. Haven’t used it yet, but yet I will look into making the making the changes to the testing package as you mentioned.

This will be amazing for testing in mine and my teams current apps, so thanks for clarifying

[2019-11-29 09:49] prescottprue commented on #73
I also realized that It appears there [is logic in firebase-tools-extra for supporting this](https://github.com/prescottprue/firebase-tools-extra/blob/master/src/utils.ts#L259). Just need to write up a working example

[2019-11-29 13:32] diginikkari commented on #73
It would be create if we could use firebase-testing also with cypress. I'm using it with jest to write integration test to cloud functions. It's great because it makes it possible to run tests in parallel with full isolation between tests.

firebase-testing doesn't yet support authentication, so that is something to figure out also.

Here is article about it: [Jest testing firebase functions with

[2019-12-03 04:43] dhair-seva commented on #71
Interesting, When I run this command manually, I get that same error:
`.\node_modules\.bin\npx firebase-extra firestore update 'companies/mycomp' '{"creditsRemaining":1000}' -P my-project`

So it seems that firebase-extra is the one with the issue?

[2019-12-03 04:46] dhair-seva commented on #71
Actually, looks like the error is displayed here.
https://github.com/prescottprue/firebase-tools-extra/blob/master/src/commands/firestore.ts

[2019-12-05 06:50] prescottprue commented on #71
@dhair-seva Did you try updating to v0.5.0? I tried to replicate and am not seeing that issue anymore with that version (see below), I didn't realize earlier when you posted that you were using 0.4.1.

When calling the following:
`cy.callFirestore('update', 'projects/123ABC', { some: 'data' })`

Result in logs is successful:
![image](https://user-images.githubusercontent.com/2992224/70210730-6ed3c

[2019-12-05 10:09] prescottprue commented on #73
I was able to get `cy.callFirestore` calling to the emulator with `set` and `update` when including the following within the initialization section of my application:

[code]

Then when booting up cypress, I pass the emulator environment variable (which is mentioned when starting up the emulator):
[code]

All of that said, I am [improving the logic within firebase-tools-extra](https://github.com/p

[2019-12-05 11:13] prescottprue commented on #73
Yeah, as expected, it appears that firebase-tools database commands do not support the emulator ([as seen in the database push](https://github.com/firebase/firebase-tools/blob/master/src/commands/database-push.js#L47).

I also tried with`firestore:delete`, by overriding the based URL like so: ` FIRESTORE_URL=http://localhost:8080 firebase firestore:delete /users/2Sos5CpSLifCcPTyrTn0G2xmsiR2`, but

[2019-12-05 15:43] dhair-seva commented on #71
Interesting. I didn't realize there was a new version. I will try that now.

[2019-12-05 15:48] dhair-seva commented on #71
I just updated and tried it in 0.5.0 and still receiving the same error.

[2019-12-05 15:53] dhair-seva commented on #71
Could it be the firebase-extra command that we use is out of date on mine? I imagine not, but that seems like it would be the only reason...

[2019-12-05 23:17] prescottprue commented on #71
What version of firebase-tools-extra is installed? Also, what about firebase-tools?

[2019-12-06 04:08] dhair-seva commented on #71
**firebase-tools**: 7.8.0
**firebase-tools-extra**: 0.2.1

[2019-12-06 12:27] prescottprue commented on #65
Closing this since it is similar to #13 - updates for this issue will be made there. Thanks for reporting

[2019-12-06 12:27] #65 closed

[2019-12-07 07:01] prescottprue commented on #73
I got a response to the feature request that I made to Firebase for adding this to firebase-tools - they said they like the idea, but are not sure on a timeline yet. I'll keep an eye out for the issue they said they would make to track this, and link it here.

[2019-12-07 07:51] prescottprue commented on #73
Just released [v0.5.1](https://github.com/prescottprue/cypress-firebase/releases/tag/v0.5.1) with the improved logic which loads project name dynamically. Going to start working on support for the `delete` within Firestore (since only `set` and `update` will work for now) and the RTDB methods since we don't yet have a timeline of when it will be added to firebase-tools

[2019-12-10 04:00] dhair-seva commented on #71
Any ideas? This is really blocking a lot of my e2e testing. I would love to help contribute, but not sure where else to look for, on where the bug would be.

[2019-12-10 08:19] dhair-seva commented on #71
Can we reopen this?

[2019-12-10 17:50] prescottprue commented on #71
Not sure of how to replicate - On both Mac and Linux I am able to pass the object and it is handled correctly. Do you have anything setup, like a CI provider, that is experiencing this on linux?

I'll try replicating again, but as pictured above it seemed to be working last time I tried

[2019-12-10 22:21] dhair-seva commented on #71
Perhaps it's the fact that I have Windows? I don't use Linux or Mac. There
may be a chance that I can send it up to circleci. However I haven't setup
that logic yet. Do you think it could be Windows. I'm quite certain it's
firebase-extra though because I get the same error on the command line.

On Tue, Dec 10, 2019, 10:50 AM Scott Prue <notifications@github.com> wrote:

[2019-12-10 22:22] dhair-seva commented on #71
I will generate a new angular application with the same setup and see if I
can make a repro

On Tue, Dec 10, 2019, 3:21 PM Daniel Hair <dhair@sevadev.com> wrote:

[2019-12-10 22:56] dhair-seva commented on #71
In looking at your screenshot of your command, I don't see a -D command. What does -D do?

[2019-12-10 23:24] dhair-seva commented on #71
I'm getting this same command in my current PR `feature/dmh/fix-firebase-path`. The one that I have for another issue I logged. I ran this command:
`node_modules\.bin\firebase-extra firestore set "companies/DevAutomation/1575951379044" '{"_id":"1"}' -P testramp-dan`
I received the same error, so its not specific to my cypress app. I'm more convinced that its windows. I have a MAC computer though.

[2019-12-11 00:27] prescottprue commented on #71
Yeah that sound right that it would be due to the OS - I haven't gotten the chance to test any of these tools on Windows

[2019-12-11 01:31] dhair-seva commented on #71
Well, my team and I are on Windows and would love to get this thing more
stable on Windows. I have a temporary workaround as I stated but it's
slowing our tests down a lot. However I am really grateful for your
efforts. This module is a life saver.

On Tue, Dec 10, 2019, 5:27 PM Scott Prue <notifications@github.com> wrote:

[2019-12-11 01:59] dhair-seva commented on #71
Okay, so I tried this same command on my MAC, and it works just fine. This is a Windows-specific bug.

[2020-01-08 14:27] dheerajthota commented on #14
Any update on this please.
We use a dedicate function id to run E2E testcases and want to use the same ID in my local machine.
When I run it always takes my ID instead of the Functional ID , even after overriding the login with options.
It gets me a token correctly , auth works but the UI in electron using my ID to login, how to logout and use different ID?

[2020-01-13 12:54] jwbaart opened #84 "Auth error"
I'm trying to setup a firebase cypress test but after following the readme I'm getting the following error:

I copied and paste the value of the 'apiKey' property of the firebase project multiple times so I should be using the correct key. Would you happen to have any other insights into what's going on?

[2020-01-13 17:20] prescottprue commented on #84
It is referencing the API key which is being injected within your `cypress.env.json` - you have to make sure that this matches your API key for initializing the front end Firebase SDK.

[2020-01-13 22:30] amkoehler commented on #73
Got this working great. I'm having a related issue but I think it is an underlying cypress problem. Has anyone else had issues connecting to the firestore emulator from cypress while running in the browser? For some reason my cypress tests are failing to connect to my emulator. I can connect to the emulator just fine when visiting my dev server outside of cypress.

related SO issue from another us

[2020-01-14 20:48] jwbaart commented on #84
Found it, missed the following in the readme:

So the API key error is gone!

Next issue, the cy.login() is executed but the onAuthStateChanged in my app only picks up an auth change with null value. When logging the auth in your login function, see [here](https://github.com/prescottprue/cypress-firebase/blob/master/src/attachCustomCommands.ts#L138), a auth object is visible.

[2020-01-14 21:37] prescottprue commented on #84
This should be better documented, but have you initialized the Firebase SDK within your test utils and set the instance to the window? Then use that instance within your app?

Here is an example of where I do this in the fireadmin tests:
* [initialize sdk within tests](https://github.com/prescottprue/fireadmin/blob/master/cypress/support/commands.js#L13-L28)
* [Skipping init if instance exists on

[2020-01-14 22:00] jwbaart commented on #84
Thanks for your quick reply!

I copied and paste the command.js excerpt from the readme. Setting the instance to the window was missing so I added it, to no avail :-(
This is my [command.js](https://github.com/jwbaart/quotes/blob/feature/cypress-e2e/cypress/integration/quote/add.spec.js).

[2020-01-15 18:10] prescottprue commented on #84
@jwbaart Did you also use that instance from the window in your application if it exists? It seems like from the looks of [your app module](https://github.com/jwbaart/quotes/blob/8a36ec1a876eecc9d2a9acd9fab4890990a54a29/src/app/app.module.ts#L29), that you aren't, but not sure.

I have seen the window.fbInstance returning undefined in the chrome tab before due to the wrong window context being sel

[2020-01-17 19:09] jwbaart commented on #84
Not sure what this exactly means. I currently execute the firebase.initializeApp twice(app module & cypres command) with the same config when in dev mode. Is this correct or should I only execute it once or use the result of firebase.initializeApp in the other location?

The window.fbInstance is only defined in the cypress window context, see below screenshot:
![image](https://user-images.githubus

[2020-01-17 23:22] prescottprue commented on #84
That is correct that it should be initialized both places, but within your application code you should load the existing Firebase instance from `window.fbInstance` if it is defined and only initialize if it is not defined

[2020-01-19 12:33] jwbaart commented on #84
Chrome console:
context app: window.fbInstance -> undefined
context Cypress: window.fbInstance ->{firebase: {...}}

Debugging in the app also shows an undefined for the window.fbInstance.

Currently they aren't able to pass on the window.fbInstance in my setup and in your two examples(btw the second has an incorrect link, it links to the first example) they all expect a defined window.fbInstance.

[2020-01-19 12:33] jwbaart commented on #45
@travwritescode did you manage to fix this issue? I'm encountering the same issue.

[2020-01-21 18:28] prescottprue commented on #84
Not sure why I haven't experienced this in any of the projects I have been testing using these patterns. I wouldn't think it has to do with Angular, but I don't have any projects that use it that I am currently testing

Can you provide a full repo showing this issues so that I can debug further? Thanks for your patience - really want to get an answer to this one

[2020-01-21 18:30] #84 closed

[2020-01-21 18:32] prescottprue commented on #45
This was also reported in #84 - I still haven't been able to reproduce in any of my applications, so if someone could provide a repo where this can be reproduced, that would be awesome. Would really love to figure out the cause of this one

[2020-01-21 19:02] jwbaart commented on #45
Thank you for the effort, really appreciate it.

I 'happen to have' an example repo, namely my repo of the original thread :)
[Link to repo](https://github.com/jwbaart/quotes)

[2020-01-31 20:20] Corchoneitor commented on #73
Same problem here. Did you find a solution?

[2020-01-31 22:20] prescottprue commented on #73
I was able to communicate with the emulator through cypress, not sure why I didn't hit that issue. I'll look to try to replicate

[2020-02-03 18:43] prescottprue commented on #73
@amkoehler What does your app initialization logic look like? Do you load the firebase instance created within Cypress (and attach it to the window within your cypress logic?)

[2020-02-04 14:24] dhair-seva commented on #71
Any update on this? You have a tag for "Needs Repro", but this happens in any windows machine. Can we remove it?

[2020-02-04 14:25] #68 closed

[2020-02-04 19:30] prescottprue commented on #71
I don't currently have a windows machine to test on, and it will be a little while until I can get a chance to spin up a vm for testing this. I'll remove the needs-repro label, but I will need to reproduce on a windows machine so I can make changes to fix the issue. Unless you would be open to making a PR?

[2020-02-04 21:31] dhair-seva commented on #71
Sure, Id be happy too when I get some time. I assume this would be in your
other repo since this is when running the firebase extra command?

On Tue, Feb 4, 2020, 12:30 PM Scott Prue <notifications@github.com> wrote:

[2020-02-04 23:26] prescottprue commented on #71
Great! Yes correct, it will most likely be in firebase-tools-extra

[2020-02-06 18:21] prescottprue commented on #73
More full support has been added for both RTDB and Firestore emulators.

One issues I have come upon though is a failure to be able to connect to the Firestore emulator within Cypress - I created this issue in the Cypress repo with reproduction steps: https://github.com/cypress-io/cypress/issues/6350

[2020-02-07 14:22] fabiocarneiro commented on #14
I would like to have it like this:

[code]
other authentication options would also be interesting

I think there is some coupling between two independent problems here:
- Obtaining credentials or managing for an already registered user by using admin access
- Registering and Authenticating a user that you have credentials for

Basically, my goal is to have the testing suite to create a new user ev

[2020-02-08 01:12] prescottprue opened #88 "feat(commands): command for creating a user"
As mentioned in #14 by @fabiocarneiro there is a need for creating user's during tests:

### Notes
* Documentation should clearly specify that password should be stored in the cypress environment only (preferably passed in by CLI flag or passed from the environment running cypress)

### Open Questions
* Which other user auth methods need to be supported?
* Is this best practice? Running a number o

[2020-02-08 01:13] prescottprue commented on #14
Work for this is being included in v0.10.0 - it calls a firebase-tools-extra command to generate the custom token dynamically then logs in.

@fabiocarneiro signing in with credentials such as email and password was initially skipped since that would mean either exposing the credentials in the test code or passing them through from the environment. I'm open to the idea of creating custom commands f

[2020-02-08 08:16] fabiocarneiro commented on #88
Although I also think in the direction passwords should not be in the code, I would work in two directions:

* Helping the library users to obtain one or multiple account data in a convenient way. Single env variable can be quite cumbersome with large userbase.
* Allowing accounts to be easily created, either with defined usernames/passwords or with pattern/randomly created credentials.

[2020-02-08 08:20] fabiocarneiro commented on #14
@prescottprue the problem I see here is the assumption that you will use one user for all your tests and that the authentication happens outside of Cypress, and then the token is used afterwards.

[2020-02-09 20:23] jwbaart commented on #45
@prescottprue managed to reproduce the issue?

[2020-02-11 18:05] prescottprue commented on #14
@fabiocarneiro The logic that is being added in v0.10.0 will allow for logging into different users by passing their UID into `cy.login` - since the token will be generated on the fly this will allow the usage of multiple users in tests

[2020-02-11 19:40] fabiocarneiro commented on #14
Does that use the admin api?

[2020-02-13 04:14] prescottprue commented on #14
It does - it calls `createCustomToken` internally

[2020-02-13 05:06] prescottprue commented on #14
Closing since this if a feature within v0.10.0. Anyone that tries it out - reach out if it doesn't work as expected

[2020-02-13 05:06] #14 closed

[2020-02-13 05:10] dhair-seva commented on #70
Doesn't this issue get resolved with 0.10.0?

[2020-02-13 06:17] prescottprue commented on #70
@dhair-seva Yes it does - thanks for posting.

I guess it doesn't necessarily update the value in the environment as described by the title, but a new JWT is generated when passing a UID to `cy.login`, it just isn't written to the environment.

[2020-02-13 06:17] #70 closed

[2020-02-13 06:56] prescottprue commented on #45
I have reproduced - it actually seems like you don't need to look for the shared instance at all. The initialized Firebase instance passed into Cypress ends up being shared with the instance initialized within the app. I am planning on updating the docs, but is this what you are seeing?

So if you try to call `cy.login` you receive an error? What is the wording exactly?

[2020-02-13 08:46] fabiocarneiro commented on #14
@prescottprue The only concern I have with that is that it is assuming I do have specific accounts that I want to test with, and I will hardcode the ids on my code. This adds some fragility, as there can be different states based on these accounts on different runs and the accounts can be modified/removed outside of the scope of the application you are testing.

It would still be nice to have supp

[2020-02-14 02:17] prescottprue commented on #45
Usage of window has been removed from the setup since it apparently isn't needed - are you still experiencing the error?

[2020-02-14 06:22] jwbaart commented on #45
Sounds good, I'll try it this weekend and let you know!

On Fri, 14 Feb 2020, 03:17 Scott Prue, <notifications@github.com> wrote:

[2020-02-15 11:39] jwbaart commented on #45
If I ignore the window.fbInstance issue then the cy.login() seems to successful:
`cy.login().then((result) => console.log(result)); \\ logs an auth object`
The auth object contains the correct test email, firebase project id and uid so I assumes it's valid. My (simplified) auth service show the following:
`this._authState.subscribe(authUser => console.log('authUser', authUser)); // logs null`
And

[2020-02-20 04:42] ralphsmith80 opened #92 "FirestoreError Missing or insufficient permissions"
I'm running locally with a user that can authenticate. I can login with that user and initiate firestore listeners without issue. However, when I do so via cypress I'm getting the following error.

I know I have the Firestore rules are set properly because I have multiple users that work and my test user also works if I'm not using cypress.

Here an example of the listener code. It's likely not ve

[2020-02-20 18:30] prescottprue commented on #73
Passing `experimentalForceLongPolling: true` to Firestore settings allows the Firestore emulator to work within Cypress. Closing since this has been noted in the README and there is full emulator support for `callRtdb` and `callFirestore`

[2020-02-20 18:48] #73 closed

[2020-02-20 18:51] prescottprue commented on #92
Can you provide a link to your repo so Cypress setup can be confirmed? How are you calling `cy.login` in the tests? Are you passing a UID or generating the JWT before running tests?

[2020-02-21 03:20] ralphsmith80 commented on #92
I'm generating the JWT before running tests. So in that case I'm calling `cy.login` via `cy.login()`. I did try using `cy.login(Cypress.env('TEST_UID'))` without luck.

Login is not the problem here though. That works as expected. The problem is that I'm getting false errors from the [realtime listeners](https://firebase.google.com/docs/firestore/query-data/listen).

Logging in with that user on a

[2020-02-21 03:20] #92 closed

[2020-02-25 19:02] tad3j opened #94 "Support for monorepos/yarn worksapces"
I wanted to use this package but unfortunately I can't get it working with lerna monorepo / yarn workspaces.

Problem is that I have `.firebaserc` file stored in `root` of my project (so it's available to web, mobile and functions project files), but my web application lives in `packages/web`.

It doesn't matter if I run cyrpess from packages/web folder (via `cypress open`) or from root folder (vi

[2020-02-26 03:59] prescottprue commented on #94
@tad3j Thanks for reporting - I'll look into this

[2020-03-02 23:07] Alberick commented on #71
Hello, I just started looking at this package. I'm also using windows and I'm facing the same scenario. This is what I get when it runs on cypress.

[code]

This works fine If I run on the cli ```npx firebase-extra firestore set config/tester '{"name":"tester"}'```

Do you have any advice or workaround I can use?

[2020-03-03 01:50] dhair-seva commented on #71
I have a temporary workaround. Basically we save the object and then use that as a fixture. It works for our use case and we have used over 50 e2e tests with it. Obviously its not ideal, but it works for now.

[code]

[2020-03-05 01:33] prescottprue commented on #71
I have started work on a new method of doing things (through tasks instead of passing through the firebase-tools-extra cli). This should help fix things, but it is definetly a work in progress

To try it out do the following:

1. Install from alpha and install firebase-admin `npm i --save-dev cypress-firebase@alpha firebase-admin` (currently at 0.11.0-alpha.2)
1. Switch your plugin import to be `p

[2020-03-05 04:06] prescottprue commented on #71
I have already noticed a few small things that should be fixed and improved - all changes are going out to the `alpha` tag for now, so feel free to just point to that in your package file if you want to keep getting updates of these versions while they progress

[2020-03-23 00:12] prescottprue commented on #94
@tad3j Have you tried any of the versions on the `next` tag? The v1.0.0 version series does not use `.firebaserc` for any config anymore, so hopefully that should work as you expect.

[2020-03-23 00:16] prescottprue commented on #71
The v1.0.0 pre-release series now uses tasks by default and is being released on the `next` tag. Going to leave this open until it is released as latest.

Please reach out if you have any issues using the new plugin with tasks (available in 0.11.0) or using the new 1.0.0 pre-releases

[2020-03-26 03:58] asaldivar opened #109 ""data.projectId must be projectId format" CircleCI config error"
Thank you @prescottprue for such a useful package. A few questions regarding the configuration of `cypress-firebase` with CircleCI. I referenced issue #23 which helped me get to where I am now.

As a note, I have am using your package perfectly  in my local environment. The command I'm using is essentially, `yarn run build:testConfig && cypress run` where `build:testConfig` is `cypress-firebase cr

[2020-03-26 05:24] asaldivar commented on #109
This was my bad. This was actually a `cypress` issue I caused by not setting the right projectId value in my CircleCI environment variables.

[2020-03-26 05:24] #109 closed

[2020-03-26 16:26] prescottprue commented on #109
Thanks for reaching out - something to note is that the v1 pre-release versions (available on the `next` tag) no longer contains `createTestEnvFile` and actually generates required configs dynamically

[2020-03-28 06:57] prescottprue commented on #94
v1.0.0 has been released to latest and it no longer uses .firebaserc. Going to close for now, please let me know if you are still experiencing an issue and we can reopen

[2020-03-28 06:57] #94 closed

[2020-03-28 06:58] prescottprue commented on #71
v1.0.0 has been released to latest - everything is now going through tasks, so parsing should hopefully not be an issue regardless of os. Let me know if you get a chance to try it out!

[2020-03-28 06:58] #71 closed

[2020-03-28 06:59] prescottprue commented on #45
Thanks to all for reporting! Usage of window is no longer part of the setup. If this is still being experienced could we open a new issue with a repro of this not working with angularfire

[2020-03-28 06:59] #45 closed

[2020-03-28 07:00] prescottprue commented on #34
Thanks for reporting! This has not been able to be reproduced. Please try out the newest latest (v1.0.0 which was just released) and see if you are still experiencing the issue

[2020-03-28 07:00] #34 closed

[2020-03-28 07:02] prescottprue commented on #13
Are folks still experiencing this as an issue with cypress 4.2.0 and cypress-firebase v1.0.0?

v1.0.0 works using tasks and firebase-admin instead of calling through firebase-tools-extra

[2020-03-30 16:13] gregfenton opened #111 "README - incomplete thought/sentence"
In README.md, the section:

- Usage
   - Auth
      - NOTE:

There is an imcomplete thought at the "_[...]_" below:

[2020-03-30 16:30] gregfenton opened #113 "README - unclear meaning of "sub-bullets" for Auth sec. 7"
- Usage
   - Setup
      - Auth
There are 2 numbered points that come after (or sub-bullets to?) bullet #7 in the Auth section.

Not clear how these relate to the Setup, or if these are starting to talk more about usage once the system is up?  Maybe these could/should be moved to a separate section away from "Setup", like maybe a separate "Considerations for CI" section?

A request: at the end of

[2020-03-30 18:14] gregfenton opened #115 "README: test:emulators script dependencies"
On my (new MacOS) system that (I'm trying to leave as clean as reasonable and possible), I get:

`$ npm run test:emulate`

`> auth-and-profile@0.1.0 test:emulate /Users/greg/work/react-firebase-auth-and-profile`
`> cross-env FIREBASE_DATABASE_EMULATOR_HOST="localhost:$(cat firebase.json | jq`
`.emulators.database.port)" FIRESTORE_EMULATOR_HOST="localhost:$(cat firebase.json | jq`
`.emulators.fires

[2020-03-30 19:34] prescottprue commented on #115
Yeah this was copied over from another project, so we can go back to npm. This project uses yarn currently (hence the yarn.lock), but open to the idea of leaving all of the scripts as npm so it isn't required.

Out of curiosity are you not installing with yarn? You get a warning in npm that there is a yarn.lock right?

[2020-03-30 21:21] gregfenton commented on #115
I am installing with npm.  I didn't notice any warnings/errors from npm.  I just uninstalled and installed again with npm and no errors that I can see:

[code]

Not sure if you expected otherwise?

[2020-03-31 01:16] prescottprue commented on #115
@gregfenton I meant within this repo itself - I had assumed you were running the scripts within a forked version of this repo since you were referencing the npm scripts.

For installing in another project it should matter whether you use npm or yarn since you presumably won't be running any npm scripts within a dependency, unless I am misunderstanding?

[2020-03-31 01:25] gregfenton commented on #115
I was using the `emulators`, `test:open` and `test:emulate` config/scripts as a template for my project (create-react-app + firebase + cypress.io) in terms of starting up the emulators and running tests.

Guess I am getting too far ahead of myself.  Again, I was just following through the README instructions.

[2020-03-31 06:23] prescottprue commented on #115
@gregfenton If you want a nice starter that extends create-react-app and has the setup for cypress-firebase, you should checkout [generator-react-firebase](https://github.com/prescottprue/generator-react-firebase)

[2020-03-31 06:35] #115 closed

[2020-04-01 17:12] gregfenton commented on #115
Very, very interesting.  I will ponder how this impacts my world view, as I'm just getting (back) into software development and this type of infrastructure was on my list of "things to do to keep building rapidly".

[2020-04-16 20:36] prescottprue commented on #111
Fix, thanks for reaching out!

[2020-04-16 20:36] #111 closed

[2020-04-16 20:37] prescottprue commented on #113
Thanks a bunch for bringing this up, I totally agree! Fixed in a push just now

[2020-04-16 20:37] #113 closed

[2020-04-21 08:28] johancblom opened #120 "bug(core): problem with 'fs' when using file preprocessing"
I'm trying to create unit tests with Cypress on a Vue project but keep getting an error:

Error: Webpack Compilation Error
./node_modules/cypress-firebase/lib/node-utils.js
Module not found: Error: Can't resolve 'fs' in 'C:\Users\johan\VueProjects\paddock-app\node_modules\cypress-firebase\lib'

https://github.com/cypress-io/cypress-documentation/issues/714 says fs is not to be used in cypress as i

[2020-04-21 14:16] mrsimpson opened #121 "Tasks not registered as functions on `cy`"
## What's the issue?

The functions which should be attached to the `cy` object are not available:
`cy.login is not a function`
Also other functions which should be attached to the plugin are not there.

## What I've done

Taking first steps on Cypress, I followed the [setup guide](https://github.com/prescottprue/cypress-firebase#setup).
I am using a createReactApp based setup now, so I also follo

[2020-04-21 16:36] prescottprue commented on #120
@johancblom the usage of fs is only within the plugin which is actually the node environment, not the browser, so things should work fine. Can you provide a repo where the issue can be reproduced?

[2020-04-21 16:38] prescottprue commented on #121
Yeah, the examples need to be updated to the v1 syntax.
As for your issue - you are sure you setup the plugin? Are you able to provide the repo where I can reproduce the error?

[2020-04-21 16:41] prescottprue commented on #121
It looks like the `commands.js` isn't being loaded in an `index.js` file of any type [as done here](https://github.com/prescottprue/cypress-firebase/blob/master/examples/basic/cypress/support/index.js#L17) - that would mean that your commands.js file isn'e being loaded. `cypress/support/index.js` should have been included by default by Cypress, but I'm going to add something to the docs about it a

[2020-04-21 17:16] johancblom commented on #120
Hi, thank you for getting back to me. I'm using v1.1.0. I have no working repo I can share at the moment, but from what you are saying is it the case that the plugin should not end up in a webpack bundle, or, should that part of the code be bundled in a 'node' target area perhaps.

[2020-04-21 17:46] mrsimpson commented on #121
ah yes 🙈
I was expecting too that the Cypress framework is taking care of loading everything inside `./cypress`.
I now added a index-file to the folder and it loads the commands.
Now I can continue with the actual setup.

Thanks a ton for the quick response, Scott! This established my capability of continuing at night ;)

[2020-04-21 20:42] prescottprue commented on #120
I see that you are doing preprocessing to get the setup working. It may have to do with the fact that the plugin is going into a webpack bundle, but I thought that Cypress would still handle that case since it is in a plugin instead of the browser/test environment (where the preprocessing is being applied)

Out of curiosity, what is the preprocessing for exactly?

[2020-04-21 20:58] prescottprue commented on #121
Really glad to hear! I added a note about it to the docs and updated the examples to the new API. Hope it helps, happy coding!

[2020-04-21 20:58] #121 closed

[2020-04-21 21:17] johancblom commented on #120
Yes! that did the trick, thank you so much, I was going round in circles.

The preprocessing is needed for a cypress unit testing module for vue, see https://github.com/bahmutov/cypress-vue-unit-test#bundling

[2020-04-21 22:03] prescottprue commented on #120
Thanks for letting me know it worked, we should add this to a section of the README in case other folks run into the same

[2020-04-21 22:12] prescottprue commented on #120
Add a note to the README, so going to close. Thanks for reporting!

[2020-04-21 22:12] #120 closed

[2020-04-21 22:12] prescottprue commented on #13
Closing due to no repro in v1. If anyone is still experiencing this, please reach out

[2020-04-21 22:12] #13 closed

[2020-04-30 12:36] RiZKiT opened #122 "feat(core): support namespacing of cypress custom commands"
I would like to test your plugin, but we already have custom commands like cy.login, cy.register and cy.logout. These names are very common.

It would be nice if the commands for this plugin would be prefixed, like `cy.firebaseLogin`, this also describes the use case better.

[2020-04-30 17:11] prescottprue commented on #122
I have thought this might cause some issues, I'll look into adding that, thanks for reaching out!

[2020-05-01 15:49] Buuntu opened #124 "GCLOUD_PROJECT error"
I get the following when following the README instructions and starting cypress:

[code]

Any ideas?

[2020-05-01 16:41] prescottprue commented on #124
Did you try adding your service account to the `./serviceAccount.json` file [as described in the setup](https://github.com/prescottprue/cypress-firebase#setup)? If you are just running against emulators instead of full instance, you can also just pass the `GCLOUD_PROJECT` environment variable as described in the error.

[2020-05-01 16:53] Buuntu commented on #124
Yeah, I have the serviceAccount.json at the root directory (outside of cypress folder) and also have tried hardcoding those settings into the config variable in `cypress/support/commands.js`. I tried setting `GLOUD_PROJECT` and `FIREBASE_PROJECT_ID` in `cypress.env.json` as well.

[2020-05-01 17:12] prescottprue commented on #124
Hmmm... Environment variables are being loaded from the node environment instead of using the Cypress environment (cypress.env.json). As noted in the [auth section of setup](https://github.com/prescottprue/cypress-firebase#auth), using the cypress envs is usually reserved for settings (such as TEST_UID) which are loaded from the Cypress environment itself.  That said, the service account should be

[2020-05-01 17:27] Buuntu commented on #124
I see.  So when I do that I get a different error:
[code]

it's like my service account properties are not getting read anywhere? Which is confusing because I have them hardcoded like so:

[code]

[2020-05-01 17:47] prescottprue commented on #124
Firebase config is different than your service account - firebaseConfig is the front end config for Firebase's client JS SDK used in the browser - NOT firebase-admin which is used in the node context (i.e. plugins). Requiring the serviceAccount in front end logic like the commands file will not work as you currently have it. The firebase-admin instance is initialized using the service account with

[2020-05-01 18:02] Buuntu commented on #124
Oh... thanks for the clarification - I think that's the issue then.  I thought the frontend config was sufficient.  I copied the full serviceAccount.json from firebase and now it works.  Why does this need firebase-admin to do login and not just firebase-sdk?

Essentially I am trying to mock out frontend login/user creation with cypress so I can test a registration form I have, so maybe I will nee

[2020-05-01 18:13] prescottprue commented on #124
firebase-admin is used for generating authentication tokens which the JS SDK then uses to login. firebase-admin is interacting with the database with administrative rights for reading/writing when seeding/verifying data.

Usually for tests that are not testing login, you would login with `cy.login` which uses a custom token generated by firebase-admin so that the user is logged in without needing

[2020-05-01 18:18] Buuntu commented on #124
Okay thanks!

Do you think to test user creation it would be better to mock `firebase.auth().createUserWithEmailAndPassword` with sinon stubs?  I don't want to create a new user each time.

[2020-05-01 18:37] prescottprue commented on #124
@Buuntu Yeah that would be smart - there is not currently an emulator for auth in Firebase, so it would create the user every time like you are mentioning. You could also mock the responses from the Google API though cypress, but that will most likely be a bit more complicated since there are multiple call, and that could also change - where with the mocking method you only have that issue if the

[2020-05-01 18:37] #124 closed

[2020-05-02 06:53] prescottprue commented on #122
This feature was added in [v1.2.0](https://github.com/prescottprue/cypress-firebase/releases/tag/v1.2.0) under the option `commandNames`. It can be used like so:

[code]

Also [added a section to the README](https://github.com/prescottprue/cypress-firebase#changing-custom-command-names) with the same example for other folks that may want to do the same. Thanks for reaching out with the request!

[2020-05-02 06:53] #122 closed

[2020-05-02 06:55] prescottprue commented on #15
v1.2.0 has the new `cy.getAuthUser` custom command which can be used to load auth users by UID. Thanks for the feature request!

[2020-05-02 06:55] #15 closed

[2020-05-02 06:57] prescottprue commented on #88
Something of note: Just using a UID that doesn't already exist creates the user if you are using `cy.login` since it is generating a custom auth token through firebase-admin which does this automatically.

[2020-05-02 07:43] RiZKiT commented on #122
Well that was quick, thanks!

[2020-05-07 17:31] prescottprue opened #128 "feat(commands): option to return data snapshots"
Option to return snapshot object when calling `callRtdb` or `callFirestore`:

[code]

[code]

[2020-05-10 01:38] gregfenton opened #129 "Enabling Cypress code-coverage fails against cy.callFirestore()"
I have installed [code-coverage](https://docs.cypress.io/guides/tooling/code-coverage.html#Install-the-plugin) for Cypress.

My test against my app work just fine.  But my tests that call `cy.callFirestore()` fail with:

If I disable the code-coverage configuration in Cypress, the `cy.callFirebase()` tests works just fine.

It seems there is a need to expose `callFirestore` to the ["code instrumen

[2020-05-10 15:11] prescottprue commented on #129
Are you sure you included the plugin? The list of tasks doesn’t seem to include any of the custom cypress-firebase tasks. Can you share the repo so I can be sure to reproduce the issue?

[2020-05-10 19:47] gregfenton commented on #129
I struggled trying to get the examples/basic project running.  I was getting TypeScript errors within Cypress complaining about extendWithFirebaseConfig not being a function.  I wasted too much time on it so I built my own simple app along with reproduction steps:

https://github.com/gregfenton/cypress-firebase-code-coverage

See the README at the root of the project.  Should take 5-10 minutes to

[2020-05-11 03:48] prescottprue commented on #129
Thanks for the repro - I'll look into it. I have not kept the examples of this repo as up to date as I should, but instead have mostly been using cypress-firebase in different projects. Glad to have folks like you reminding me to come back and clean up the example/docs - the PRs are much appreciated 😄

[2020-05-11 14:44] gregfenton commented on #129
I'm pretty certain this is just going to be a build or runtime config thingy.  Somehow we need to convince @cypress/code-coverage and/or nyc to "instrument" callFirestore().  My app code is just fine, including all the npms I am using.  But cypress-firebase is exposed directly to Cypress, so it isn't going through the same build/startup routines.

[2020-05-11 15:46] bahmutov commented on #129
You have overriden the plugins file and only register code coverage tasks. You file should read

[code]

[2020-05-11 16:38] gregfenton commented on #129
Brilliant, thank you.  With the above, I am now running my cypress-firebase tests *with code-coverage*!!

Wasn't clear to me that the **same** module.exports was to be used for both code-coverage and other tasks.  I'll put up a PR for the code-coverage README to help others in the future.

Thanks @bahmutov and @prescottprue !!!

[2020-05-11 16:42] #129 closed

[2020-05-11 17:01] prescottprue commented on #129
Thanks for posting @bahmutov that is right!

If you want the config extending that happens through the plugin as well you can do the following:

[code]

[2020-05-11 17:56] gregfenton commented on #129
@prescottprue - want me to update the README patch accordingly?

[2020-05-14 21:42] james-dowell opened #132 "callFirestore with serverTimestamp has unexpected results"
Hi @prescottprue,

Using the following command to set an object with a timestamp property i.e.:

[code]

Results in:

[code]

I've done a bit of investigating and it looks like there's possibly a know issue with cy.task stringifying and parsing the data which could be related:

[https://github.com/cypress-io/cypress/issues/4980](https://github.com/cypress-io/cypress/issues/4980)

Is there anything

[2020-05-14 22:42] prescottprue commented on #132
Yeah, I have bumped into this one before and that was the thought around the `withMeta` option, but that only does `createdAt` and `createdBy`.  Ideally it would allow service timestamps on any param like what you have shown.

Thanks for posting your solution! That is actually really similar to what I was thinking, but we would hopefully have it also handle multiple levels deep

[2020-05-15 12:56] james-dowell commented on #132
I could take a stab at a PR for something a bit more robust with a test that could handle deeply nested timestamps if you'd like? .. probably in the next day or two. Unless you've already got it covered of course 😀

[2020-05-15 15:35] prescottprue commented on #132
@james-dowell That would be amazing if you get the chance, thanks!

[2020-05-19 15:40] prescottprue commented on #132
The current solution we are using is causing the following error:

![image](https://user-images.githubusercontent.com/2992224/82347213-5ad90300-99c5-11ea-84a2-77d0120a077d.png)

This is because we are actually using firebase-admin in the plugin code instead of using the timestamp passed from the adminInstance - this is needed to handle how things are done in the Cypress environment and is actually

[2020-05-19 16:52] prescottprue commented on #132
Pushed up a change to the v1.3.0 branch that should fix the issue - going to wait until I can do a bit more testing before merging

[2020-05-19 17:44] james-dowell commented on #132
Ahh I see okay 👍 sounds good. Thanks for pushing this through @prescottprue , much appreciated.

Let me know if I can help out with anything else

[2020-05-22 01:59] gregfenton opened #135 "config against the emulator"
If there's a better forum to bring this up in, please let me know.

I have configured the Firestore and Functions emulators locally.  My React UI is working against them just fine.  But my `cy.callFirestore()` methods are still hitting my actual FS database in my Firebase console.

I have run out of ideas to try for configuring the cy commands.  I have followed the [Using Database Emulators](https

[2020-05-22 03:33] prescottprue commented on #135
Are you getting logs from cypress-firebase in the terminal where you are running the test command? They should appear showing which emulator ports are being connected to - that is based on `FIREBASE_DATABASE_EMULATOR_HOST` and `FIRESTORE_EMULATOR_HOST` environment variables [that are used internally to initialize an app instance](https://github.com/prescottprue/cypress-firebase/blob/master/src/fir

[2020-05-22 14:38] gregfenton commented on #135
ARGGHHH!!
In trying to debug the issue over a period of time, I had renamed that variable CYPRESS_FIRESTORE_EMULATOR_HOST so that it would show up in `Cypress.env()`.  Once I got some pieces working, I failed to undo that change  😱

Millions of thanks yous!!  I will publish a PR with a doc enhancement outlining this excellent piece of information!

[2020-05-22 16:13] gregfenton commented on #135
Okay, hopefully a last volley on this topic.

I am getting
[code]
when running `cypress open`.

Running my super-simple spec via Cypress I get:
```Channel credentials must be a ChannelCredentials object```

I dug into grpc, threw in a `console.log()` and got:

[code]

Thoughts on what to try next?

[2020-05-23 21:43] prescottprue commented on #135
@gregfenton Do you have your service account saved to `./serviceAccount.json`? A service account is needed for auth actions since there isn't currently emulation for auth. With that file in place cypress-firebase will use that as a credential by default. Otherwise you can set the `GOOGLE_APPLICATION_CREDENTIALS` as described [in the google cloud docs](https://cloud.google.com/docs/authentication/g

[2020-05-23 22:52] gregfenton commented on #135
I do have `./serviceAccount.json`.  The credentials are being loaded.

I put two `console.log()`s into cypress-firebase's `tasks.js` in `callFirestore()`.  I broke up the line from being chained so that it is now:
[code]

and the resulting log got:

[code]

The third `console.log()` line does not get output because `x.get()` throws an exception that gets sent to handleError that outputs:

[code]

[2020-05-24 22:57] gregfenton commented on #135
Alright, now I am completely stumped.

This looks like some very weird "bug" (??) in grpc and/or my node/javascript environment.  One that I simply do not understand.

I am hacking the files in my `node_modules` and running everything locally.  The error I get running against the local emulator/with a serviceAccount comes from [lines 149-153 of channel.ts](https://github.com/grpc/grpc-node/blob/ma

[2020-05-27 21:01] JDansercoer opened #136 "Your API key is invalid, please check you have copied it correctly"
I tried to follow along the Readme, and got the first few steps working. I can confirm that my integration works, since the firestore document example is working.

However, when I try to add `cy.login()` to my test hooks, I get this error
![image](https://user-images.githubusercontent.com/11869830/83071746-e6a9f980-a06d-11ea-83ef-b272ea7b7e94.png)

This is my test file.

[code]

I have tried all t

[2020-05-27 23:32] prescottprue commented on #136
It seems like the firebase instance being initialized within test is not finding the API key - the Firestore example working could be because of the tasks making the connection through the settings you passed, but this is different than the login command which connects directly with the Client SDK which needs to be passed the API key. Are you able to share your code so that I can try to reproduce?

[2020-05-28 09:23] JDansercoer commented on #54
I am terribly sorry. Seems I should have gone to bed last night instead of the late night coding session.

I never added the `fbConfig` in `commands.js`.

My apologies, and thanks for this great library!

[2020-05-28 09:24] JDansercoer commented on #136
I am terribly sorry. Seems I should have gone to bed last night instead of the late night coding session.

I never added the `fbConfig` in `commands.js`.

My apologies, and thanks for this great library!

[2020-05-28 09:24] #136 closed

[2020-05-28 15:57] prescottprue commented on #136
No problem at all, glad to hear you got it working!

[2020-06-08 01:26] gregfenton opened #141 "Add support for `cy.callFunction()`"
The ability to call a Cloud Function would be powerful.

A key benefit would be the ability to do "administrative functions" via those cloud functions.  Say, for example, deleting all existing users in a FB project.

https://firebase.google.com/docs/functions/callable#call_the_function

[2020-06-08 16:47] prescottprue commented on #141
I could see this being a feature for sure, but something to keep in mind is that if this is planned to be used for cleanup, like you were mentioning, that may not always get run depending on where the logic is placed. Also, Cypress advocates for only cleaning up when absolutely necessary as mentioned in [their Best Practices docs](https://docs.cypress.io/guides/references/best-practices.html#Is-re

[2020-06-08 16:57] gregfenton commented on #141
I agree with 98% of the Cypress best practices.  Some of their best practices assume a db that can be simply cleared and restored.  There is friction when it comes to working with a more rigid environment like Firebase.  Firebase Auth, in particular, don't work that way 😄

I'm not looking to tear down & build up the environment with every single test run.  But even the one-time setup needs to be a

[2020-06-08 17:21] prescottprue commented on #141
That is fair, I definitely feel you there! Something to note though is that firebase-tools does have import capability for the Firestore emulator (through the --import flag when booting up emulator with `emulators:exec` or `emulators:start` as well as for auth ([auth import/export](https://firebase.google.com/docs/cli/auth))

[2020-06-08 17:27] prescottprue commented on #141
Here is an example of what I was mentioning with firebase-tools:

[code]

[2020-06-18 22:45] scowling opened #142 "cy.callFirestore is not a function"
Firstly - this may be a setup problem. My cypress testing files are within a NX workspace, but without cypress-firebase cypress itself runs fine.
The link in the documentation "See the folders section below for more info about other supported folders" doesn't actually go anywhere so I can't check this out.

I have installed the plugin as per the instructions (the NPM instructions are slightly diff

[2020-06-18 22:55] prescottprue commented on #142
@scowling quick question about the setup - do you need the file:preprocessor? I was under the impression that cypress handles typescript out of the box now - thought I saw that in their release notes a short while back.

As for the main issue, looks like there is an issue with the custom commands not being loaded. Are you sure you followed all of the [setup steps in the README](https://github.com/

[2020-06-18 23:23] scowling commented on #142
Yep that is in there, although VS code is complaining that
`cypress-firebase/index.d.ts' is not a module.ts(2306)`

The only other stuff in commands.ts is the example boilerplate that cypress has in there

Regarding the preprocessor - I only installed cypress yesterday and that is the default setup. I can remove it if you think it might be the problem

[2020-06-19 01:22] scowling commented on #142
any thoughts here @prescottprue ?
I've tried alternate ways to import the attachCustomCommands module into commands.ts but cypress is having none of it. And VS Code still complains that cypress-firebase is not a module.

[2020-06-19 16:41] prescottprue commented on #142
@scowling Did you log in that file to make sure it is being called? If cy.callFirestore is not set, then I'm almost positive it is coming down to something with attachCustomCommands

The not finding the module seems really weird - since you just started are you able to share your repo so that the issue can be reproduced? Going to try to repro on my end again later today as well

[2020-06-21 22:52] scowling commented on #142
sorry @prescottprue it's not an empty project - just that I have just added cypress - I can't share it

Could the complication be related to the fact that it's in an NX workspace?
Folder structure is like this:
* apps
  * main_app
  * main_app-e2e
    * src
      * fixtures
      * integration
      * plugins
      * support
    * cypress.json

I dismissed that as a problem because cypress actuall

[2020-06-21 22:59] scowling commented on #142
Bingo! @prescottprue
Coming back to this with a clear head on Monday morning. It was file location.
I moved the command and plugin stuff to a cypress directory in the root. Even though cypress is configured to pickup tests in the nested folder.

Thanks for your help

[2020-06-21 23:00] #142 closed

[2020-06-22 15:35] prescottprue commented on #142
Happy to hear, thanks for the update. Now I know to mention checking for that in the future!

[2020-06-22 23:27] dutzi commented on #135
I'm also getting the same error when calling `cy.callFirestore('add', 'some_path', { some: 'value' });` I get:

[code]

I'm pretty sure it's not an issue with `serviceAccount.json` since I am able to log in _and_ when I try working against production Firestore everything works.

[2020-06-23 04:16] ncko opened #143 "chore(docs): remove references to old API including createTestEnvFile"
I'm having issues setting environment variables for firebase on CI/CD (github actions). The README mentions `createTestEnv` at the top of the file. `createTestEnv` appears to be a command passed to a command line script (`$> cypress-firebase createTestEnv`).

However, I can't actually find this script, and I find instructions for it in previous versions of this repo. I did find instructions on set

[2020-06-23 16:37] prescottprue commented on #143
It has actually been removed, so looks like that part of the docs need a bit of updating.

In CI I commonly select settings from the `.firebaserc` using bash then expose those as environment variables prefixed with `CYPRESS` so they are passed to the cypress env. If you would like a reference, might be worth checking out the [CI setup of another project I started called fireadmin](https://github.c

[2020-06-23 16:44] prescottprue commented on #135
Could you all list the version of node you are using? This seems to be something internal to Firestore, but not sure what could be causing it. Still trying to replicate on my end

Its weird since there are a number of placing I'm currently using this in tests including [multiple tests for fireadmin.io](https://github.com/prescottprue/fireadmin/blob/master/cypress/integration/Project/ActionRunner.s

[2020-06-23 17:09] ncko commented on #143
Thank you so much! That was extremely helpful.

[2020-06-29 17:35] aziparu commented on #132
Hi @james-dowell. Thanks to you and @prescottprue for writing the changes to allow for server timestamps. I started using v1.3.0 and things are working fine so far. I was wondering if you could help me with something. I'm not able to use `firestore.FieldValue.serverTimestamp()` as you did in your example in the OP. If I add `import { firestore } from 'firebase-admin';`, then I get this error in th

[2020-06-29 17:48] prescottprue commented on #132
@aziparu The admin SDK can not be loaded within Cypress since it is running within the browser environment. The reason that most of this logic has lived within custom tasks is that those live within the node environment and are called from the cypress test environment through the provided custom commands.

[2020-06-29 18:00] aziparu commented on #132
I see. That makes sense. Do you know how can I set a serverTimestamp on a field using `cy.callFirestore` like
[code]
aside from using `{ _methodName: 'FieldValue.serverTimestamp' }` instead of `firestore.FieldValue.serverTimestamp()`?

[2020-06-29 19:18] prescottprue commented on #132
@aziparu You should be able to pull that in from the client Firebase SDK:

[code]

[2020-06-29 19:20] prescottprue commented on #132
Going to wait to close this until it is better documented, but [v1.3.0](https://github.com/prescottprue/cypress-firebase/releases/tag/v1.3.0) with the noted changes has been released

[2020-07-06 15:55] brookslybrand commented on #135
I strugged with the `Channel credentials must be a ChannelCredentials object` error for 2 days last week, and finally stumbled across the solution:
`npm i -D google-gax`

Here is where I found it:
https://github.com/googleapis/nodejs-firestore/issues/998#issuecomment-640064546
https://stackoverflow.com/questions/61605189/firebase-emulator-error-channel-credentials-must-be-a-channelcredentials-obje

[2020-07-06 17:07] prescottprue commented on #135
@brookslybrand Thank you so much for posting! I'm thinking that this should be added to the docs while they are working on a fix

[2020-07-12 23:52] prescottprue commented on #132
Logic has been improved for Timestamps which are not serverTimestamp, and docs have been added.

@aziparu I have actually now started using `firebase.firestore.Timestamp.now()` for server timestamps, or `firebase.firestore.Timestamp.fromDate(new Date('01/01/2020'))` when specifying a specific date.

If you really still want to be setting a timestamp, you can do `{ _methodName: 'FieldValue.serverTi

[2020-07-12 23:53] #132 closed

[2020-07-20 12:09] tcrwt opened #148 "feat(plugin): support for providing a path to a custom path serviceAccount"
Thanks very much for this library. The instructions suggest that I must include a `serviceAccount.json` file in the root. I was keen to avoid this, as we have the same information saved under a different file name in a different directory, for use in other tests.

If I could point cypress-firebase to the information from this file, this would save us having two copies of the same information in tw

[2020-07-20 15:46] prescottprue commented on #148
Nice, thanks for sharing. This should be a perfectly fine way of doing it from what I can tell, especially since internally we check if the app has already been initialized before initializing.

One issue that may arise is support for emulators - if `FIREBASE_EMULATOR_HOST` and/or `FIREBASE_DATABASE_EMULATOR_HOST` as set, then [internally the admin instance will be initialized pointed to the emula

[2020-07-21 13:50] tcrwt commented on #148
Thanks – glad to hear it's vaguely sensible!

I hadn't thought about the emulators. As you mention, not a concern for my use case as I'm not using them. Perhaps that's enough of a complication to mean that it's safest/simplest not to add this to the readme.

[2020-07-22 17:10] prescottprue commented on #148
I think it would be easy enough to add support for a custom path through an env variable [on this line where we point to the service account](https://github.com/prescottprue/cypress-firebase/blob/master/src/firebase-utils.ts#L84)

[2020-07-22 17:15] prescottprue commented on #135
I just tried to replicate this with most up to date versions and didn't experience it. Going to close for now, but if anyone else experiences this again, please reach out - we will add a note to the docs if so

[2020-07-22 17:15] #135 closed

[2020-07-22 17:19] prescottprue commented on #141
Of note: as of [firebase-tools v8.5.0](https://github.com/firebase/firebase-tools/releases/tag/v8.5.0) there is now support for using `--import` with RTDB

[2020-07-22 17:34] prescottprue commented on #143
Working on adding a  `setEnv` command to firebase-ci which sets environment variables based on settings matching branch name within .firebaserc and supports renaming existing vars i.e.:

[code]

[Here is the settings being used in fireadmin](https://github.com/prescottprue/fireadmin/blob/master/.firebaserc#L9), which is using the alpha version of firebase-ci since this hasn't been released to late

[2020-07-22 18:08] gregfenton commented on #141
And [v8.6.0](https://github.com/firebase/firebase-tools/releases/tag/v8.6.0) adds `--export-on-exit`.  Things in FB Emulator space are maturing!

[2020-07-22 19:22] #143 closed

[2020-07-30 09:05] bartlomiejborzucki opened #150 "Object with null value throws an error"
I want to add object  to the firebase/firestore  with null value
newObject = {
name: 'new object',
finishDate: null
}
I've used this function:
cy.callFirestore("set", "task", newObject );

 I've got an error in the bold part of the below code (src/tasks.ts:80):
if (
	 typeof data[currKey] === 'object' &&
	 /* eslint-disable-next-line no-underscore-dangle */
	 **!data[currKey]._methodName &&**
	 !d

[2020-07-31 01:02] #150 closed

[2020-07-31 01:10] prescottprue commented on #150
It definitely was an issue and regression thanks for reporting! Fixed [in v1.4.3](https://github.com/prescottprue/cypress-firebase/releases/tag/v1.4.3). I also added a test case for null values, so we shouldn't see this one pop up again

[2020-08-18 23:38] christopher-francisco opened #160 "How can I generate a FIREBASE_TOKEN?"
I'm new to Firebase and I realize this is a silly question. I am asking this question in here because I've seen at least 3 types of different token-like strings so far (the web app `apiKey`, the serviceAccount `privateKey`), and I'm not sure which one should I place in the `FIREBASE_TOKEN` env variable. I also didn't find a link to the Google docs in the README.

Thanks in advance

[2020-08-19 01:10] prescottprue commented on #160
No problem at all! It should probably be more clear in the README.

You can generate one by calling `firebase login:ci` using the [firebase CLI](https://github.com/firebase/firebase-tools#configuration-commands)

[2020-09-04 04:28] nicholaschiang opened #173 "bug(types): types don't seem to be working properly"
**Describe the bug**

I've done the following and keep coming across Typescript compilation bugs (even though this was supposedly addressed in #47):
1. Added the package as a `devDependency` using `yarn`:
[code]
2. Configured a [`cypress/tsconfig.json`](https://github.com/tutorbookapp/tutorbook/blob/cypress/cypress/tsconfig.json) file to include the Cypress package (as was done in [this example](h

[2020-09-04 15:21] nicholaschiang commented on #173
Make sure to checkout to the `51922c2` commit hash because I'm going to push some new changes to that branch (removing the `cypress-firebase` dependency as a temporary fix).

[2020-09-04 17:38] prescottprue commented on #173
Interesting, I will look at the replication. [The typescript example](https://github.com/prescottprue/cypress-firebase/tree/master/examples/typescript) seems to pickup on the type definitions, so wondering if it something else with the build setup. Do you also see this when you run eslint or typescript directly without ALE?

[2020-09-14 00:03] christopher-francisco opened #179 "Question: how does this library knows which project to work on, when using FIREBASE_TOKEN?"
Sorry for the silly question.

For regular Firestore operations, `serviceAccount.json` is used, so I can trust it will act on the project I intend it to. However, when using `FIREBASE_TOKEN` for `delete` operation, how does it know what project to work on?

I believe the token itself give you access to all projects, so is there a chance I would run a `delete` on a different project?

I'm particula

[2020-09-14 08:43] A13k2 opened #181 "bug(callFirestore): timestamps not working in arrays"
**Describe the bug**

When using timestamps in arrays, they are not properly represented in the database.

**To Reproduce**

1. Run:
[code]
2. Database shows:
![Screenshot 2020-09-14 at 10 41 02](https://user-images.githubusercontent.com/18004529/93063608-ccc11080-f676-11ea-817d-6afa924c235b.png)

**Expected behavior/code**
Data should be a timestamp.

**Additional Information**
Running
[code]
giv

[2020-09-14 15:58] prescottprue commented on #179
Thanks for reaching out! Guessing you found that in the README? That part appears to be out of date - all operations now go through firebase-admin so they use the service account as you mentioned. Going to leave this issue open as a way to track updating that

[2020-09-15 02:11] christopher-francisco commented on #179
@prescottprue I had assumed it'd use firebase-admin's serviceAccount for most of the operations, but I'm talking specifically about the `delete` operation on Firestore. Documentation says it uses a `FIREBASE_TOKEN` (instead of serviceAccount.json) because it uses `firebase-tools` rather than `firebase-admin`.

Moreover, a `FIREBASE_TOKEN` has access to all of my projects, so I wonder how does the

[2020-09-15 04:09] prescottprue commented on #179
Right - that part of the documentation is no longer correct. All of the commands use the service account with firebase-admin. FIREBASE_TOKEN is for firebase-tools which is no longer used. Will try to update the docs tomorrow

[2020-09-19 21:31] prescottprue commented on #181
The fix for this and an accompanying test was included in [the v1.4.5 release](https://github.com/prescottprue/cypress-firebase/releases/tag/v1.4.5) - reach out if it is not working as expected. Thanks for reporting!

[2020-09-19 21:31] #181 closed

[2020-09-19 22:41] prescottprue commented on #179
Updated the docs to remove that, thanks for reaching out!

[2020-09-19 22:41] #179 closed

[2020-10-01 10:39] A13k2 commented on #181
Hey @prescottprue its working now! Thanks for the quick fix.

I just noticed that it still doesn't work for objects in arrays 🙈 , e.g.:
`
cy.callFirestore('set', `tests/testTimestamp`, {
      a: [{test: firebase.firestore.Timestamp.now()}],
    } as CallFirestoreOptions);
`

[2020-10-01 11:42] A13k2 commented on #181
@prescottprue i forked your repo and implemented a fix with tests:
https://github.com/A13k2/cypress-firebase/commit/a8a79282bd9b4fdc6335c590dbafe2607c17a64a

I didn't contribute to open source projects before, so just let me know what to do with it 😄

We are using your plugin quite extensively for our project, so we would be open to contribute some more in the future...

Amazing project btw, helps

[2020-10-07 21:45] dpsthree commented on #173
I ran into this today as well.

[2020-10-09 12:44] jonespen opened #194 "feat(auth): tenant support"
**Is your feature request related to a problem? Please describe.**

We're using [Cloud Identity with multiple tentants](https://cloud.google.com/identity-platform/docs/multi-tenancy), but doesn't seem like this library supports setting a [`tenantId` for `firebase.auth()`](https://firebase.google.com/docs/reference/admin/node/admin.auth.Tenant).

**Describe the solution you'd like**

A way of setti

[2020-10-10 19:34] prescottprue commented on #194
Thanks for reaching out! I think this should definitely be supported.

Guessing your app is already handling the client side of changing tenantId and you would be looking to do that within the `firebase-admin` instance running on the node side, is that correct? If some maybe we can pass that along as an option when calling cy.login?

Would love if you made a PR if you already have some changes in

[2020-10-10 21:00] jonespen commented on #194
Yes, sorry for the delay, I’ll try to cook up something tomorrow

[2020-10-10 22:28] cchatfield commented on #120
@prescottprue  Could you add this to the package.json?

  "browser": {
    "fs": false,
    "os": false,
    "path": false
  },

[2020-10-10 22:55] prescottprue commented on #120
@cchatfield Can you open up a new issue describing what this change would accomplish? Also preferably with a repro for the issue

As mentioned above only certain sections of the library are actually meant for node where the rest are loaded in the browser by cypress, so I'm hesitant to in global settings without a full understanding of impact

[2020-10-11 02:49] cchatfield commented on #173
temp workaround:

import { attachCustomCommands } from 'cypress-firebase/lib';

[2020-10-21 22:36] alexandermckay opened #206 "React Redux Firebase Auth Support"
**Is your feature request related to a problem? Please describe.**
I would like to be able to test my `react-redux-firebase` app with `cypress-firebase`.

[code]

**Describe the solution you'd like**
Given that there is a `serviceAccount.json` file and access the `firebase-admin` sdk I would expect it is possible to read the desired by the `TEST_UID` and inject the `auth` object into `react-redux-

[2020-10-22 21:52] alexandermckay commented on #206
This is already supported, I had an issue with implementation. Apologies!

[2020-10-22 21:52] #206 closed

[2020-10-26 22:46] NicolasBonet opened #212 ""not supported" error thrown when trying the test document."
**Describe the bug**

I'm getting an error trying to create the test document on Firebase

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior/code**
I followed all steps, but I'm getting the error attached below which says:

```not supported```

In the protobufjs dependency.

**Possible Solution**

I don't know, I've checked all the opened bugs but cannot find it.

**Additional

[2020-10-27 02:46] alexandermckay opened #213 "Slow Performance of `cy.login`"
**Describe the bug**
When using `cypress-firebase` with `react-redux-firebase` the auth process takes a minimum of 5 seconds. There is an enormous length of time between the `@@reactReduxFirebase/AUTHENTICATION_INIT_FINISHED` action being fired and the next action `@@reactReduxFirebase/LOGIN`/`@@reactReduxFirebase/AUTH_EMPTY_CHANGE` being triggered. This delay does not exist when using plain Chrom

[2020-10-27 18:20] dpsthree commented on #120
I'm having this issue as well, but I'm using Angular with NX to structure my app. The Webpack configuration is intentionally hidden behind the tooling.

[2020-10-27 18:33] prescottprue commented on #120
@dpsthree Can you possible open a new issue with a repro? That way I can make sure I'm reproducing correctly

I though I had this working in an NX app that was React, but maybe I'm remembering wrong

[2020-10-27 18:37] dpsthree commented on #120
@prescottprue I'll look into that. Meanwhile, @cchatfield's recommendation worked for me. I modified the cypress-firebase package.json, but I'd rather not do that as a solution.

[2020-10-27 19:10] dpsthree opened #214 "Can't resolve 'fs' on Angular Nx projects"
After following the setup from the README and adding the work around from #173 I receive the attached error:
<img width="1918" alt="error" src="https://user-images.githubusercontent.com/1540699/97349414-7510ea00-185d-11eb-881b-fcaad04c225f.png">

Repro can be found here: https://github.com/dpsthree/cypress-firebase-repro
npm install
npm run e2e:watch
select example.spec.ts from the test spec list

[2020-10-27 19:11] dpsthree commented on #120
created #214

[2020-10-28 22:07] #212 closed

[2020-10-29 15:22] prescottprue commented on #214
Thanks for reporting with the repro! We should be able to give the change you mentioned with the package.json a try - it shouldn't impact the node side of things. Will put it on a next/alpha release so we can confirm though

[2020-11-09 22:21] alexandermckay commented on #213
@prescottprue

[2020-11-10 17:18] sandeep-bastola opened #225 "Error GCLOUD_PROJECT environment variable"
I followed the steps until 11, but got the following error upon running npx cypress open command.

Error GCLOUD_PROJECT environment variable or project_id from service account to initialize Firebase.

Localhost is running properly.

Any help would be highly appreciated.

[2020-11-11 19:16] prescottprue commented on #225
Thanks for reaching out! Is this in your local environment or in CI that you are having the issue? When you say localhost is running properly I'm guess you mean the dev server for your app?

If you are able to share the project I should be able to help debug further

[2020-11-12 20:15] prescottprue commented on #213
@alexandermckay thanks for the repro, I'll try to look into it this weekend - wondering if it has to due with when the app boots up vs when the form is being filled out

Something of note is that this should only really impact tests for your authentication - other tests you should be able to be using `cy.login` which auths the user with a custom token so you don't have to go through the login UI e

[2020-11-17 00:12] alexandermckay commented on #213
@prescottprue I am using `cy.login` for a majority of my tests. However, this still takes ~5 seconds to execute the `@@reactReduxFirebase/LOGIN` redux action.

Love the library by the way!

[2020-11-18 16:33] itsravenous opened #232 "How to create document with reference to another using cy.callFirestore?"
**Is your feature request related to a problem? Please describe.**

I would like to be able to use `callFirestore` to create one document, then create another with a field of type reference (see https://firebase.google.com/docs/firestore/manage-data/data-types) that points to that document. For example:

[code]

I don't _think_ it's possible right now, because I'd need access to the firestore inst

[2020-11-20 03:41] prescottprue commented on #232
Yeah, definitely a valid use case, thanks for reaching out! Returning the snapshot (which contains a reference) is what I was describing in [#128](https://github.com/prescottprue/cypress-firebase/issues/128), but as noted that would mean either an option or a change to the API.

The firebase instance is initialized in cypress (since it is running in the browser) - so we should be able to fix thing

[2020-11-20 09:31] itsravenous commented on #232
Wonderful, thanks!

[2020-11-20 10:07] DG-za commented on #214
Just wanted to add that I'm running into the same issue with an Nx project and the same fix worked for me.

[2020-11-22 04:54] prescottprue commented on #214
v1.6.0-alpha was released to the `next` tag with the change to the package file - going to do some more testing when I get a chance, but would love to hear from anyone that gets a chance to try it out

[2020-11-22 23:08] alexandermckay commented on #213
@prescottprue did you get a chance to look at the issue over the weekend?

[2020-11-22 23:56] prescottprue commented on #213
I haven't yet, had some stuff come up. Quick question though, are you by chance using Firestore? From the actions in your screenshot, I am assuming you are since I see redux-firestore - if so have you set `experimentalForceLongPolling = true;` in your config?

I ask because there is a known issue with Firestore taking a long time with Cypress due to how web channels are being used, but enabling lo

[2020-11-23 19:26] dpsthree commented on #214
1.6 alpha is working well for me without the need for a post-install modification.

[2020-11-24 23:32] prescottprue commented on #214
@dpsthree great to hear - thanks for the update

[2020-11-26 08:20] DG-za commented on #214
Same here, I haven't tested everything, but initial cypress startup and my cypress-firebase related tests seemed to work fine with the alpha.

[2020-11-30 09:03] sdedieu commented on #225
Hi,

I have the same issue using cypress in a Vue CLI project (but I don't think this last point is relevent).

I get :
Error: Error GCLOUD_PROJECT environment variable or project_id from service account to initialize Firebase.
running the "npm run test:e2e" command which run the "vue-cli-service test:e2e" command which run the cypress open.

I believe this error occurs because the support/command

[2020-12-09 04:50] jonespen commented on #213
Just chiming in here, I had a similiar issue, and resolved it using `experimentalAutoDetectLongPolling: true` instead of `experimentalForceLongPolling: true` after reading [this issue](https://github.com/firebase/firebase-js-sdk/issues/1674#issuecomment-716827564). [Seems like](https://github.com/firebase/firebase-js-sdk/blob/b662f8c0a9890cbdcf53cce7fe01c2a8a52d3d2d/packages/firebase/index.d.ts#L7

[2020-12-10 23:36] prescottprue opened #244 "bug(callRtdb): undefined value for path writes to top level db"
**Describe the bug**
Pointed out by @jmay4826

Passing undefined as the path argument to callRtdb causes a write to the top level of the database - this could easily have unintended consequences including clear a whole database

**To Reproduce**
Steps to reproduce the behavior:

The following writes an object `{ some: 'value' }` to the top level of the database

[code]

This can easily unintention

[2020-12-14 00:52] Nick-Mazuk commented on #14
I totally agree and this is really what I was looking for. Ideally, each test should be isolated from one another, and having hard-coded UIDs destroys that isolation. Because one test may update the user profile (e.g. custom claims), and another may depend on the auth claim not changing. Running the tests in the reverse order causes a failing test.

Alternatively, if you don't use that format, it

[2020-12-14 05:02] Nick-Mazuk commented on #14
@fabiocarneiro

Found a workaround to creating users in the code and cleaning up users afterward. You can essentially add your own cypress commands to create and log-in users by using the front-end firebase code. And if you use firebase's REST API, you can delete all the user accounts after each test.

https://firebase.google.com/docs/reference/rest/auth#section-auth-emulator-clearaccounts

Here a

[2020-12-15 05:13] prescottprue commented on #148
Worth note: `SERVICE_ACCOUNT` is and environment variable which is currently supported for handling a service account object [as noted in the CI considerations section of the README](https://github.com/prescottprue/cypress-firebase/blob/master/README.md#considerations-for-ci). That said, still planning to add an env variable for path to a file

[2020-12-16 14:45] tombeckenham opened #252 "Firebase authentication emulator support"
**Is your feature request related to a problem? Please describe.**

Looking to use the new firebase authentication emulator for local cypress testing & ci. I can seed with a list of users, but then would like to login using email / password rather than uid

**Describe the solution you'd like**

Ideally add a login command to allow me to login using email / password rather than uid. Also build in t

[2020-12-16 18:35] sdedieu commented on #232
Hello,

I'm kinda stuck at the moment with the same issue.

When I call const db = firebase.firestore() inside a test a got the ERROR that initilizeApp wasn't call.
I do have called it inside my command.js file and cy.callFirestore() works well.

Is it legit ?

Thanks for the help,

Regards

[2020-12-16 19:26] prescottprue commented on #252
Will have to think on this one a bit - even if you have an account that was made with email/password login the `cy.login` command creates a custom custom token as that user

I think that connection to the auth emulator is a separate piece, which should be supported, so I'll look into that. Do you do the following when you are initializing the firebase app within cypress:

[code]

Presumably you ha

[2020-12-18 04:50] alexandermckay commented on #213
@jonespen what is performance like for your firestore updates?

If I, for example, trigger a `onClick={() => firestore.set({collection: 'posts', doc: 'foo'}, {title: 'Bar'})}` call from my front-end during an E2E test, it takes ~3000ms before I am unable to confirm the change has occurred with a `cy.callFirestore('get', 'posts/foo')`.

Is that a typical wait time for you? If I am running the same

[2020-12-28 19:49] prescottprue commented on #213
A note on the issue @jonespen mentioned - I usually only enable the Firestore option when `window.Cypress` is defined (i.e. browser is the Cypress env)

@alexandermckay I don't see things take nearly that long at all - mine are often sub-second. So normal times for cy.login and changes: should be no more than a few seconds, and even that is "slow". Are you using either of the above mentioned confi

[2021-01-05 12:04] itsravenous opened #267 "Warn when re-running cy.login with same uid but different role"
**Is your feature request related to a problem? Please describe.**

This is really down to laziness/absent-mindedness, but I had a series of tests that each visited the same page but logged in with a different custom claim (to assert the presence of various UI elements which show or not depending on the user's role).

I was confused as to why I was seeing these assertions failing, when while testi

[2021-01-06 10:35] junkycoder commented on #225
Had same error on `cypress open`. Seems like command initialization is separated from plugin configuration.
You just need to add `admin.initializeApp` before you register the plugin to fix it.

[code]

[2021-01-13 03:52] lolcookie commented on #212
What was the fix?

[2021-01-14 01:23] prescottprue commented on #212
@lolcookie To receive better support please provide a full repo in a new issue

[2021-01-15 19:29] fabiocarneiro commented on #14
@Nick-Mazuk Looks good. I didn't use cypress recently but will for sure come back to it at some point. This should be added to the library. Maybe open a PR?

[2021-01-18 12:48] wajeehmisbahkhan commented on #252
Can we expect something like cy.callAuth('create user', userObject) or something to the effect in the near future? In which case the login functionality can also be included cy.callAuth('login', uid).

[2021-01-19 00:49] delete commented on #232
Hi, perhaps we could do something like `getDataWithTimestampsAndGeoPoints` does before set the data? https://github.com/prescottprue/cypress-firebase/blob/c991748d2396c8aef901c7234a368e06b85206f1/src/tasks.ts#L257

Something like

[code]

Then use

[code]

[2021-01-20 17:41] itsravenous commented on #252
Leaving the seeding of users aside, it would be great to support the auth emulator even just for `cy.login()`. I did try running with `FIREBASE_AUTH_EMULATOR_HOST=localhost:9099` but it doesn't seem to get passed through to `firebase-admin` for some reason - I get this error:

[code]

which I would expect if running without credentials loading if I _hadn't_ set the auth emulator env var.

[2021-01-25 08:38] prescottprue commented on #225
Closing since a repro wasn't provided

[2021-01-25 08:38] #225 closed

[2021-01-25 17:49] prescottprue commented on #252
Support added in [v1.7.0](https://github.com/prescottprue/cypress-firebase/releases/tag/v1.7.0) - please reach out if it isn't functioning as expected

[2021-01-25 17:49] #252 closed

[2021-01-25 17:50] #214 closed

[2021-01-27 15:32] itsravenous commented on #252
Seems to work for me, thanks! :tada:

[2021-02-10 15:54] lookininward opened #287 "Failure to configure and attach custom commands in CI"
I have a set of tests that use authentication and read/write to firestore that work 100% in local development.
However, the same setup continues to fail in CI. I can't seem to resolve this error: ` > Your API key is invalid, please check you have copied it correctly.`. I've tried to log the `commands` file but the error occurs before ever hitting them.

I'm pretty sure I'm missing something very o

[2021-02-10 21:42] prescottprue commented on #287
In CI I believe that value will be getting stored as a string even if you put it in as an object, so when you load that from an environment variable it will be a string containing an object

Since the firebase SDK only accepts an object, not a string containing an object, you would need to parse that before it would work

To handle that you could do the following (though I wouldn't suggest it sinc

[2021-02-10 21:48] lookininward commented on #287
@prescottprue Thanks for looking into this!

Actually, after failing with `FIREBASE_CONFIG` as an object I tried each individual key as its own secret and still got the same API key error.

When I log in `plugins/index` I can clearly see that the env has the secret values being passed into it.
When I log in `commands` -- the logs never appear in the output.

[2021-02-10 22:03] prescottprue commented on #287
If you provide a reproduction of this error I would be able to help better, but I also suggest using cypress-log-to-output and/or cy.log to see the logs from commands (since I believe I have been able to log in there before).

[2021-02-10 22:11] lookininward commented on #287
This is the full output:

[code]

[2021-02-10 22:36] lookininward commented on #287
This is the PR that implements it: https://github.com/lookininward/project-tracker/pull/10/files

[2021-02-11 02:26] prescottprue commented on #287
Will take a little to parse through the logs - just wanted to call out that your configs for Firebase do not have to be kept secret. These values are bundled into the browser, so anyone who visits your site would have these configs anyway, that is where auth domains and rules come in. Because of that it is often easier to hard code them or use something like node-config

Are you able to provide th

[2021-02-11 13:57] lookininward commented on #287
This is the PR I'm using to add authentication to the app: https://github.com/lookininward/project-tracker/pull/10

[2021-02-11 18:42] prescottprue commented on #232
@delete I think this will potentially cause issues if someone is trying to just write a slash path to a parameter instead of having that point to a document - We may need to pass along some additional information about which params should be converted into references.

It would be good to have this happen automatically within the task/plugin, but it is going from the browser through to the node en

[2021-02-14 18:29] lookininward commented on #287
🤦 it was an issue with the react_app secrets not having been set properly. Appreciate your quick response!

[2021-02-14 18:29] #287 closed

[2021-02-15 02:01] prescottprue commented on #287
Glad to hear you got it solved!

[2021-02-18 12:24] felippepuhle commented on #14
Is it a good idea exposing the auth interface on the window so I can access directly inside Cypress and call `createUserWithEmailAndPassword` so user will be already logged in after that? Also, our app uses `signInWithPhoneNumber`, is there a way I can create a whitelisted user so I can use a static code for the testing step?

[2021-02-19 00:37] prescottprue commented on #14
@felippepuhle You shouldn't need to be creating the user through email/password for things to work - just using a new or existing auth user's UID in `cy.login` will log you in as that user. So no need to call `createUserWithEmailAndPassword` just call `cy.login('someUID')` where 'someUID' is the ID you would like to assign

If you are running your tests against a full Firebase project instead of t

[2021-02-19 10:54] felippepuhle commented on #14
@prescottprue thanks for the explanation and tips!

Yeah, we're running our tests against a full Firebase project... We want to make our tests as isolated as possible (we're running them in parallel in more than 1 browser, and we already fel in some race conditions where 2 browsers were testing the same screen with the same user and the test fails due to that - wrong values on assertions).

Our si

[2021-03-10 04:40] ebeloded opened #307 "bug(callFirestore): where clause doesn't work with 'delete' action"
The following call removed all documents in the 'workspaces' collection

[code]

**Expected behavior/code**

Expected only workspaces with `__TEST_DOC` equal `true`  to be deleted.

**Possible Solution**

A possible solution is to use `get` action, for which the `where` clause works, and delete each doc by referencing its id

[2021-03-23 09:49] zvartb opened #316 "Issue related callable functions"
Hello,

I am trying to create a test.
Result is pass, when I run it in open mode, but when I run it from command line, it was failed.
The issue appears, when we use firebase callable functions.

Please see the error message in the attached screenshot:
![image](https://user-images.githubusercontent.com/77267226/112126822-41ed3f80-8bde-11eb-887b-29e622151848.png)

Is there way to solve that problem?

[2021-03-24 14:09] A13k2 commented on #307
Can confirm that it works by chaining the commands:
[code]

I think this should at least be mentioned in the documentation. If you don't use the emulator, some people might accidentally delete whole collections.... 🔥

[2021-03-24 14:39] prescottprue commented on #307
Thanks for reaching out - I'm looking into this today, agreed that it isn't expected

[2021-04-12 11:56] A13k2 commented on #181
Hey @prescottprue ,

just noticed that this is still not working for arrays in objects.

Will this be fixed soon?

[2021-04-29 20:52] prescottprue opened #337 "fix: calling "delete" in RTDB does not throw an error (even though it isn't valid)"
**Describe the bug**
* `"delete"` is the keyword for Firestore instead of RTDB - when using `"delete"` instead of `"remove"` cypress-firebase, it should work instead of silently doing nothing

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior/code**
A clear and concise description of what you expected to happen (or code).

**Possible Solution**

**Additional Context/Screenshot

[2021-04-30 00:31] #337 closed

[2021-05-02 17:58] prescottprue commented on #316
The issue seems to be the service worker failing to register - this service work is often used to give Firebase Cloud Messaging capability. Also seems like there is an issue parsing that file (since it is js, not HTML).

Not sure how this would relate to callable functions or to cypress-firebase? Are you able to provide an example repo where the issue can be reproduced?

[2021-05-02 18:24] prescottprue commented on #307
Addressed in [v1.8.1 release](https://github.com/prescottprue/cypress-firebase/releases/tag/v1.8.1). Thanks for reporting!

[2021-05-02 18:24] #307 closed

[2021-05-02 21:58] #244 closed

[2021-05-02 22:01] prescottprue commented on #213
Ping - wondering if folks are still experiencing this with the mentioned config options enabled

[2021-05-02 22:03] #316 closed

[2021-05-04 17:15] naddiebell opened #345 "cy.callFirestore('update', {}) is not updating the database."
**Describe the bug**

When I use
cy.callFirestore('update', `users/${example1}`, {
   name: 'Example'
})

and then I check the db, nothing has been updated.  But when I use cy.callFirestore('set'), it is working, as well as delete.

[2021-05-11 09:01] spnkdev opened #361 "fbConfig databaseUrl undefined even when set"
**Describe the bug**

I get a warning saying that the database url is undefined but I'm setting it as indicated on the instructions.

**To Reproduce**

[code]

If I log the `fbInstance `inside the library, it shows that there is the `projectId `and `credential `properties filled but no databaseUrl property.

I did the entire process by copy paste to avoid errors, but since its a entry level bug th

[2021-05-16 18:40] prescottprue commented on #361
Did you include the other config params in the `fbConfig` object like `projectId`, `apiKey`, `authDomain`? `credential` shouldn't need to be passed?

Is the warning you are seeing within the Cypress environment? How are you initializing firebase within your app?

[2021-05-17 00:57] prescottprue commented on #361
I think I may have actually tracked this down to a bug that was introduced in v1.8.1 - looking to confirm that and work on a fix now

[2021-05-17 05:36] prescottprue commented on #361
I ended up finding that this was most likely due to a bug introduced in v1.8.1 with how databaseURL was being defaulted for the internal firebase instance. v1.9.1 includes a fix for that bug as well as a test to cover that case

Let me know if things are still not working as expected and we can reopen.

Thanks for reporting!

[2021-05-17 05:36] #361 closed

[2021-05-18 20:51] isab opened #370 "ApiKey Error When using Github Actions and Cypress"
**Describe the bug**

I am getting this error when my Cypress test suite runs on Github Actions
[code]

This error only happens in the Github Actions environment and does NOT happen when I run Cypress locally.

**To Reproduce**
It's in a private repo so I can't reproduce it for you specifically. But here is how I run the scripts.

Locally in development:
`cypress open` to start cypress and run the

[2021-05-19 15:54] prescottprue commented on #370
Can you share which version of cypress-firebase you are using? There was a bug discovered in v1.8.1 that was causing an issue with databaseURL - wondering if this is a similar issue

Also - was there a reason that you parse the SERVICE_ACCOUNT env var yourself? That should be handled internally, so you should be able to switch to the following:

[code]

[2021-05-20 09:13] spnkdev commented on #370
@prescottprue  just as a reminder I was the one that recently discovered the bug with the databaseURL and ended up here when I faced my next issue.

Currently if I set only the databaseURL in the config I get the same error as OP but in this case its expected.
But if I actually fill out the config hard coded like OP in his last codeblock I get this
[code]

[2021-05-21 02:58] prescottprue commented on #370
@spnkdev Is that the case with the newest version? v1.9.1?

Can you all provide a link to the repo? I'm wondering if the issue is the config not loading the application itself if you are saying you are hardcoding the values `support/commands.js`. I say that because the admin initialization uses `credential` and `databaseURL`.

[2021-05-21 07:51] spnkdev commented on #370
@prescottprue Actually just ignore my previous issue, I found the issue so its not a problem with the library.

For @isab 's problem, if the problems are local try to set the needed config env variables under `plugin/index.js` something like this:

 `.env`
CYPRESS_TEST_UID=UIDHERE

 `plugin/index.js`
[code]

[2021-05-21 22:14] isab commented on #370
@prescottprue & @spnkdev  Thanks for the suggestions!

I've updated the package version to `1.9.1`.
Here's my revised code:
[code]

My tests no longer pass locally and the error I'm receiving now is
[code]

I'm also receiving this message from the package:
`cypress-firebase: Initialized app with database url "https://undefined.firebaseio.com"`

Not sure where the `undefined` is coming from since I

[2021-05-22 06:16] isab commented on #370
@prescottprue @spnkdev Thanks for the suggestions.

I made the update and now my files look like this:

[code]
[code]

I am still getting this error in Github Actions though:
`> Your API key is invalid, please check you have copied it correctly.`

I've followed the [firething](https://github.com/prescottprue/firething) repo as well and no luck.

To answer your question @prescottprue :
- What is CI

[2021-06-02 10:47] danvoyce opened #387 "Remove serviceAccount.json if only using emulator"
This is more of a question, but possibly a feature request.

If we only plan to use this library with the Firebase emulator, do we really need the `serviceAccount.json` file? Currently we do, however without this library you can read and write to the local firestore and authenticate without the admin sdk. Not sure about specifying the `uid` when logging in though?

If it is possible then it would

[2021-06-03 10:24] danvoyce commented on #370
I'm having the same issue. Has anyone had any luck with this?

[2021-06-05 18:38] xKelvin opened #389 "question(angular): Is Angular with AngularFire supported?"
While trying to use the library with the firestore emulator I noticed that the library is dependent on some `process.env` vars as [you can see here.](https://github.com/prescottprue/cypress-firebase/blob/master/src/firebase-utils.ts#L68-L99) This made me wonder if it is even possible to use this library with my project, given that [you can't set `process.env` vars from within Angular.](https://sta

[2021-06-11 10:11] abouman76 opened #396 "callFirestore produces an error when querying documents: tslib_1.__spreadArray is not a function"
**Describe the bug**

- I am using the callFirestore() command.
- I am passing in an object with the "where" option in order to query the collection of documents.
- I am giving it an array with the following values: `["uid", "==", "L6l35k13fpYIYVW6DeouSqxhu4h2"]`
- This produces the following  error: `tslib_1.__spreadArray is not a function`

**To Reproduce**
Steps to reproduce the behavior:

I ca

[2021-06-11 11:40] A13k2 commented on #181
Still not working @prescottprue....

Please reopen

[2021-06-11 11:43] ygd commented on #181
second that

[2021-06-17 19:38] mattoni commented on #387
Agreed. If I'm only using firebase for login, I don't think we should require the serviceAccount.json

[2021-06-20 09:00] xKelvin commented on #389
What I ended up doing, for now, was setting the environment variable in the terminal, and directly after it running Cypress, like so:
Windows: `setx FIRESTORE_EMULATOR_HOST localhost:8080 && npm run cypress open`
Unix: `FIRESTORE_EMULATOR_HOST=localhost:8080 $(npm bin)/cypress open`

[2021-06-23 14:05] ChrisvdLeij commented on #396
Same issue for me. You could try to pass an empty string as 3rd argument like

`cy.callFirestore("get", "userAdvertisement", "", {
      where: ["uid", "==", "L6l35k13fpYIYVW6DeouSqxhu4h2"],
    }).then((response) => {
      cy.log("get add", response);
    });`

[2021-06-25 10:18] abouman76 commented on #396
Thank you Chris for responding. I tried this and does stop the test from crashing, however is simply get all the records from the database. Not the ones where the "uid" matches.
Looks like putting the options as the 4th argument ignores the options all together.

[2021-06-28 20:03] prescottprue commented on #396
Hey, thanks for reporting! I'll look into replicating - what is weird is that I thought there was a number of tests covering this 🤔

[2021-07-01 01:30] btjones commented on #88
@prescottprue for my use case, I'm using the email returned from an authenticated session to do something in my app. I could likely rewrite my app logic to grab the email in another way but having this built into `cypress-firebase` would be a nice addition.

By the way, thanks for all of your work on `cypress-firebase`!

[2021-07-12 15:25] prescottprue commented on #387
@danvoyce thanks for reaching out!

v2.0.0 should no longer require serviceAccount.json - To use the auth emulator you should be able to just set `FIREBASE_AUTH_EMULATOR_HOST`. That said, the serviceAccount should still be used if it is provided as a local file or env variable (useful for testing hosted apps where the tests running in CI need access to the real DB).

Please reach out if this is no

[2021-07-12 15:25] #387 closed

[2021-07-15 07:56] ChrisvdLeij commented on #387
@prescottprue. Thanks for the update. We're trying to use your plugin in our Gitlab CI, running the emulator. We still need to use the serviceAccount. Is there a way that we don't need to use the serviceAccount env when using the emulator only?

[2021-07-15 07:59] ChrisvdLeij opened #420 "serviceAccount needed when using the emulator"
@prescottprue. Thanks for the 2.0.0 update. We're trying to use your plugin in our Gitlab CI, running the emulator, using the default_credentials. We still need to use the serviceAccount. Is there a way that we don't need to use the serviceAccount env when using the emulator only?

[2021-07-15 11:40] filingroove opened #421 "Can't use Auth emulator – double init"
**Describe the bug**

I do everything as described in README.md for using emulators, but Auth in particular seems to be initialized twice, which leads to app not working.

**To Reproduce**
1. Do as docs suggest for using an emulator

app/firebase.js for the app itself
[code]

cypress/support/firebase.ts - almost the same thing in terms of auth
[code]

cypress/support/index.js
[code]
**Expected beh

[2021-07-20 23:41] prescottprue commented on #421
Hey, thanks for reporting! For clarity what about the app doesn't work at that point? Does auth not point to the emulators? Does Firebase or the App just not work at all?

[2021-07-22 09:18] filingroove commented on #421
@prescottprue

Hey :) Thanks for reply.

So the issue for me was invalid/lacking `AUTH_EMULATOR_HOST` env variable. I was too quick to open this issue so I'm closing it now 😅

[2021-07-22 15:46] buesing opened #426 "Update a user or enable access to the firebase-admin instance"
**Is your feature request related to a problem? Please describe.**

I need to update a user object, specifically the password, to prepare for a test. Another test is changing the password, then setting it back to what it was before. If this test fails for some reason, the password is not changed back, so I need to programmatically set it to what it was before in the next test.

**Describe the solu

[2021-07-23 13:00] filingroove commented on #421
@prescottprue

Okay, so that worked for a while and then stopped working completely. But I got what's wrong :)

My app relies on `onAuthStateChanged` to start initializing. `onAuthStateChanged` is called once when `firebase.auth()` is initialized with `null` as an argument. So, when I use `cypress-firebase`, despite firebase app instances being different and in different scopes, `onAuthStateChange

[2021-08-06 19:19] wiresnips opened #441 "Naive timestamp for epoch 0 fails to convert"
`getDataWithTimestampsAndGeoPoints` will fail to convert `{seconds: 0, nanoseconds: 0}`, as zero evaluates falsey [here](https://github.com/prescottprue/cypress-firebase/blob/master/src/tasks.ts#L100)

[2021-08-27 13:58] AdrianLsk opened #456 "Firebase functions unaware of changes in admin used by cypress"
I am trying to test my api which uses firebase functions and hence firebase admin. I am using emulators.

I created a simple task (similarly like the native createCustomToken does in this library) to set user's attribute emailVerified to true, which is then used by the api.

When running the task in cypress, I can see that the emailVerified is set correctly, using getAuthUser.

But the admin insta

[2021-09-07 06:32] farahanjum commented on #307
The issue still exists in v2.0.0.

[code]

deletes the entire `testCollection`

[2021-10-05 20:36] josheverett opened #483 "bug(types): error importing attachCustomCommands in typescript"
**Describe the bug**

`import { attachCustomCommands } from 'cypress-firebase';` fails with:

**To Reproduce**

1.  Install and configure `cypress`, verify you can run a hello world test.
2. `npm install --save-dev cypress-firebase firebase-admin`
3. Create `cypress/support/commands.ts`, following Setup guide from README:

[code]

4. TypeScript surfaces the following error in VSCode: `File <path>/

[2021-10-20 16:16] MNorgren opened #491 "bug(firestore): filtering by date does not work"
**Describe the bug**

I am attempting to use the WhereOptions to filter my query by date. The date is stored in firestore as a Timestamp.
I've tried filtering both by Date as well as by a Firestore Timestamp and have had no luck.

**To Reproduce**
Steps to reproduce the behavior:

[code]
If I remove the where clause, or replace it with a `where: ['firstName', '==', 'John']` it works. It seems as t

[2021-11-18 15:55] damienromito commented on #88
cy.deleteUser() would be the most usefull because when I test the account creation, I need to manually delete the user in the firebase authentification emulator

[2021-11-19 10:37] damienromito opened #501 "How to use the where option with callFirestore"
As the ID of my documents are generated randomly, i need to delete a queried document.
I tried the query below but this deleted all the documents of the collection => the 'where' option didn't works

**The solution I'd like :**
` cy.callFirestore('delete', 'users', { where: ['email', '==', 'test@test.com'] })`

**The alternative solution as to use two queries :**

  cy.callFirestore('get', 'users'

[2021-11-28 21:04] silvanm commented on #136
Your mistake is my luck, @JDansercoer - I made the exact same error. And this thread helped me fix it. 😄

[2021-11-29 06:41] prescottprue commented on #501
I was actually under the impression that this was supported, so I didn't document the case directly. When I saw this issue I went back to look and not only does it not exist, but there was a comment in the code about adding it 😆 .

Thanks for posting - I added the functionality in v2.1.0 along with an example in the README

[2021-11-29 06:50] prescottprue commented on #420
Glad to hear you are liking it! Thank you to everyone for the upvotes on this issue

Are you receiving an error when trying to do this? I thought that we switched to including credentials only if they are passed, and thats what [a quick look](https://github.com/prescottprue/cypress-firebase/blob/main/src/firebase-utils.ts#L110-L115) seems - that said I haven't replicated yet.

[2021-11-29 07:01] #194 closed

[2021-12-02 05:53] prescottprue commented on #345
There are a few different places this functionality is tested against a real DB and I am not able to replicate. Please provide a complete example where this can be replicated so I can debug further.

[2021-12-02 05:53] #345 closed

[2021-12-02 06:00] #483 closed

[2021-12-02 06:11] prescottprue commented on #396
I was not able to replicate this in the [updated Typescript example](https://github.com/prescottprue/cypress-firebase/blob/main/examples/typescript/cypress/integration/Firestore.spec.ts#L29-L39) (updated to Typescript in Cypress folder as well as part of v2.2.0). From the looks of it the build doesn't even include `tslib_1.__spreadArray` anymore.

Could everyone give version 2.2.0 a try and see if

[2021-12-02 06:20] prescottprue commented on #370
@isab yes I personally have found the emulators to be much more stable for testing since you are not dealing with network latencies and you can have as many running in parallel as you want without them colliding (where a real database can have collisions if multiple copies of a single test are running within a short time of each other - or if you clear collections in setup or cleanup of tests)

I

[2021-12-02 06:25] prescottprue commented on #389
Hey thanks for asking - what you provided is the expected way to connect to the emulators.

The quick answer is yes! cypress-firebase is really about easy connection from your tests to a Firebase instance (emulated or hosted). The way the application is built shouldn't really have any impact on how you are testing - I've personally worked on projects where we tested apps which use vanilla JS Fireb

[2021-12-02 06:25] #389 closed

[2021-12-02 06:30] prescottprue commented on #173
Please give [v2.2.0](https://github.com/prescottprue/cypress-firebase/releases/tag/v2.2.0) a try - there is a fix for types in there. There is more info in the PR, but it basically had to due with duplicate type defintions due to scripts from before cypress-firebase was written in TS.

If issues remain we can reopen, but the [Typescript example](https://github.com/prescottprue/cypress-firebase/tre

[2021-12-02 06:30] #173 closed

[2021-12-02 06:32] prescottprue commented on #148
Also wanted to callout that there is support for default credentials, so if you set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to the path to your service account it will be loaded by default (without needing to place contents of the service account within a environment variable).

Please reach out if you are experiencing an issue and we can reopen

[2021-12-02 06:32] #148 closed

[2021-12-05 23:06] Polyrion opened #536 "Firebase Auth Emulator JWT token signature missing"
**Describe the bug**

The issue occurs when I'm making an authentification with firebase auth on a phone number + uid then a code verification
http://localhost:9099/emulator/v1/projects/project-id/verificationCodes
everything working well but when I want to validate the sign in account with spree backend the jwt token is not complete the signature part is missing and I got a 403 on my request.

**

[2022-01-04 18:25] buesing opened #562 "Save JWT in cookie after login"
The way my app's authentication is set up is that I listen for `auth.onIdTokenChanged`, save that JWT in a cookie and then send it with every request, to be able to verify the token on the server already and then render authenticated pages on the server side. Now with the default cypress-firebase behaviour I'm not getting that cookie saved of course, so I can't test this aspect of the app.

Is the

[2022-01-05 08:50] buesing commented on #562
NVM, I just realized that this is pretty easy by creating a new custom action that calls `cy.login()` and then listens for `onIdTokenChanged` and sets the cookie there.

[2022-01-05 08:50] #562 closed

[2022-01-07 01:31] prescottprue commented on #213
@alexandermckay and  @jonespen Is anyone still experiencing this? I've had trouble replicating and the posted replication is no longer a valid link.

[2022-01-07 01:33] prescottprue commented on #370
@isab Is anyone still experiencing this issue? Trying to replicate on my end, but haven't been able to in a number of different projects

[2022-01-07 01:40] isab commented on #370
@prescottprue I haven't been working on the related codebase for a while now so unfortunately don't have an answer for you. You can feel free to close it and if I encounter this again in the future I'll write a new issue. Thanks!

[2022-01-10 05:21] prescottprue commented on #370
@isab Thanks for the response

[2022-01-10 05:21] #370 closed

[2022-01-16 22:11] github-actions[bot] opened #578 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `main` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you

[2022-01-16 22:19] #578 closed

[2022-01-20 13:15] alexzavg opened #586 "Module not found: Error: Can't resolve 'firebase/app'"
**Describe the bug**
When launching cypress firebase tests I'm getting an error:
[code]

package.json:
[code]

cypress-tests/cypress/support/commands.js:
[code]

Prior to that the cypress-firebase package was installed via provided instructions on the

Most interesting thing is that it started occuring after I deleted the code locally and cloned it again from repository (the code itself had 0 chan

[2022-01-27 18:46] BboyKeen commented on #586
You have to use the compat packages as stated in the doc for Firebase v9

[code]

[2022-02-09 20:28] LuisValgoi commented on #370
@prescottprue  I'm 😢

![image](https://user-images.githubusercontent.com/8363610/153284456-134f6611-da95-47b2-a359-fd0434881397.png)

[2022-02-10 17:40] alexzavg opened #596 "Multi-env serviceAccount.json usage"
Hello,

This is neither a bug nor a feature request, just a question.

I'm using cypress for automation.

Our app uses Firestore DB on multiple envs (dev, staging), which means there are multiple projects inside Firebase Console https://take.ms/vB4PL

My initial task is to run the same set of specs on different envs (currently on 2 - dev & staging).

In this [cypress-firebase](https://github.com/p

[2022-02-18 12:13] hos commented on #421
Have same issue. Any solution?

[2022-02-23 20:25] Alvadda opened #609 "Can't use Firestore Emulator"
I can't figure out how to set cypress-firebase up to use my local Firestore Emulator. It seems that it used my local Auth from the Emulator, but  not my Firestore .

In my cypress command.ts, I configured it like it the docs described:
[code]

but when i call
`cy.callFirestore('get', 'users').then((user) => {
      console.log(user)
    })`

I always get the data from my production Firestore not f

[2022-02-27 04:31] renovate opened #615 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/prescottprue/cypress-firebase).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

[2022-03-06 16:40] #609 closed

[2022-03-13 12:23] darrelfrancis commented on #267
I am not sure this is a priority for you @prescottprue

I quite often log in again without logging out. I wouldn't do extensive work in response to one person spending 5 minutes to track down a bug! 8-)

[2022-04-01 03:15] othondev commented on #9
Hi,
I am detecting the same error issue but it is intermittent.

Version: 2.2.1

Log:
  2) Login and Logout flow
       "after each" hook for "Enter with inactive parent email and password":
     CypressError: Cypress detected that you returned a promise from a command while also invoking one or more cy commands in that promise.

The command that returned the promise was:

The cy command you invok

[2022-04-01 03:48] prescottprue commented on #9
@othondev Can you create a new issue with code to reproduce? There isn't a usage of `cy.wait` in the lib that I'm aware of. [here is the logic for logout](https://github.com/prescottprue/cypress-firebase/blob/main/src/attachCustomCommands.ts#L392-L397) - a promise is returned, but there isn't any command invoked inside of it

[2022-06-06 22:52] Satishchilkaka opened #673 "cypress v10 migration"
**Is your feature request related to a problem? Please describe.**

Recently cypress upgraded to version 10, For some reasons `plugin.{ts.js}` is deprecated, cypress does not recommending to use plugin files.

**Describe the solution you'd like**

Cypress introduced a [setupNodeEvents](https://docs.cypress.io/guides/references/configuration#setupNodeEvents) function,
would like to see `cypress-fir

[2022-06-13 19:35] prescottprue commented on #673
@Satishchilkaka Thanks for reporting and including an example! I'll start looking into the change

[2022-06-14 19:59] andershoegh2 commented on #673
That sounds great! I think it would also help with using cypress-firebase in component testing as right now running, for example, cy.login() yields the following error:

[code]

This is with a setup where the component test is outside of the cypress folder. Just a heads up that this might be related.

[2022-06-15 19:28] prescottprue commented on #673
Thanks for posting @andershoegh2 - haven't tried in component testing yet, but I will take a look

@Satishchilkaka I got v10 of Cypress working in the basic example working with the current version of cypress-firebase [in this PR](https://github.com/prescottprue/cypress-firebase/pull/689) by adding the following to `cypress.config.js`:

[code]

[2022-06-21 14:04] pedrocarloto opened #700 "bug(docs): unclear explanation of project id + creds loading"
**Describe the bug**

I am doing this in a clean installation of cypress V10.1.0 and cypress-firebase V2.2.1.

I have went through all the steps described on the readme file to execute a simple test on firestore, but unfortunatelly I keep getting the error:

 I am trying to reach my own firebase project.
(First screenshot)

The same is true if I try to execute the example code provided in cypress-

[2022-06-22 10:59] pedrocarloto commented on #596
Hello @alexzavg where you able to solve this issue?
This is a really interesting use case.
Thank you.

[2022-06-22 11:24] pedrocarloto commented on #700
@prescottprue, in theory I don't need a serviceAccount.json to be able to connect to firestore, correct? In the readme file that's not clear. (I will make some suggestions to the Readme file with a PR when I get this to work :) )

Anyway I tried adding a serviceAccount.json to my root folder and I still get the same error.
Thank you.

[2022-06-23 14:07] andershoegh commented on #700
Could you provide the cypress.config.ts/js from your project?

[2022-06-23 15:28] andershoegh commented on #673
@prescottprue we've been playing around with component testing and we've got commands working. However, we've stumbled into an issue with onAuthStateChanged.

Our app depends on the onAuthStateChanged setting the user. When using cy.login() in a component test we get null and thus the app can't get past our login screen when we test components that depend on authentication and user role functional

[2022-06-23 15:29] andershoegh commented on #700
What worked for me was setting a project ID when registering the node events like so:

`cypressFirebasePlugin(on, config, admin, {
        projectId: "PROJECT_ID_FROM_CONFIG",
      });`

[2022-06-23 16:19] pedrocarloto commented on #700
Oh, nice! It also worked for me. I am now getting another error:

![image](https://user-images.githubusercontent.com/1236277/175346785-63988551-f464-43d0-b6c1-265c5f0517ea.png)

I will try to mess around and see if I can get pass through this auth problem.

Anyway I feel there is a problem with the package, since using the override you suggest should be optional, no?

[2022-06-23 17:38] prescottprue commented on #700
@pedrocarloto I would agree that this is still an issue that there is not clear messaging from the lib or documentation about it. Default credentials should be automatically used if they are available (i.e. `GOOGLE_APPLICATION_CREDENTIALS` environment variable points to the path instead of you requiring directly like you did) - or if in Github actions than the gcloud steps export default credentia

[2022-06-29 06:17] shihananuruddha commented on #673
We have the exact same issue. Any workarounds?

[2022-07-21 17:58] YMRTZ opened #711 "README setup causes error"
**Describe the bug**

Setup method in README causes Cypress to break

**To Reproduce**
1. Follow the steps listed in the README to install Cypress and cypress-firebase

**Expected behavior/code**
Cypress should run properly after following setup steps.

**Possible Solution**

Replacing "supportFile: 'cypress/support/e2e/index.js'," inside cypress.config.ts with "supportFile: 'cypress/support/e2e.t

[2022-08-02 08:20] pascalbe-dev commented on #609
How did you solve the problem?
I have a similar one. It writes to the production database although I really do not know, where it pulls the information about it from (I changed the firebase config).

[2022-08-02 14:43] bnyat22 opened #712 "Can't login firebase with an uid"
**Describe the bug**
When I want to login to firebase via this command cy.login(uid), I will get an error which is coming form firebase.
Error:
Firebase: The custom token format is incorrect. Please check the documentation. (auth/invalid-custom-token).

[2022-08-05 07:36] alfonsojohan opened #713 "Unable to execute tests with Firebase Web SDK 9"
We have a VueJS project using firebase SDK version 9. When I follow the instructions in the README as how to setup cypress-firebase i get the error `firebase.initializeApp` is undefined. We have another project using firebase SDK version 8 and cypress-firebase works great there.

Further research shows that the v9 SDK no longers uses namespaces. Initialization of the firebase library is now done u

[2022-09-05 12:37] balazsotakomaiya commented on #712
+1 on this

[2022-09-07 02:47] SeraphicRav commented on #712
Hello !

I do not have such an error using the emulator but did you set both the code being tested and the test code to use the emulator ? I think I got the _auth/invalid-custom-token_ error when forgetting to set one of them.

[2022-09-07 02:51] SeraphicRav commented on #421
@filingroove I am interested in knowing how you dealt with onAuthStateChanged only firing in cypress.

[2022-09-14 11:29] negomi opened #714 "How to use getAuthUser"
The docs briefly mention `getAuthUser` as a custom command added by this package.

I can also see it in the code, but calling `cy.getAuthUser("myuid")` in tests isn't working for me.

The section linked to [here](https://github.com/prescottprue/cypress-firebase/blob/1560de55ec69e97e45407d284cc119f67dff7156/src/attachCustomCommands.ts#L501), for example, doesn't exist anymore.

Is it deprecated? If

[2022-09-15 15:17] BenAshbyGP commented on #712
I just ran into this same issue today withy my unchanged login flow was working fro around 2 hours then suddenly stopped working and has been this way for now over an hour.

In my case we log in once and then store that session so we do not need to constantly log in as we were hitting firebase quotas, but at the start of each spec file we clear the stored sessions prior to logging in.

Any suggest

[2022-09-27 19:00] OneFourFree commented on #609
cross-env FIRESTORE_EMULATOR_HOST="localhost:8080" cypress open

[2022-10-08 13:24] Tockra opened #715 "bug(docs): README.md setup is not clear about service account"
Hi,

if you follow the readme.md you run into multiple problems.

After step 1 and step 2 I ran into the problem that there is no `supportFile: 'cypress/support/e2e/index.js'` the readme let me create a `cypress/support/e2e.ts`. After changing this line in `cypress.config.ts` it works.

Step 3 doesn't work. I got the error message:
[code]

I guess I need to set a service account in the serviceAcco

[2022-10-08 13:51] Tockra commented on #715
Okay I found the information that I can create the service account at firebase console (console.firebase.google.com) via `settings -> project settings -> service accounts`.
But maybe you should add this somewhere.

[2022-10-08 15:34] Tockra commented on #712
I observed the same behavior in my application. My host 127.0.0.1:3000 is connected with the emulator.
Even the manual access to the emulators firebase runs:
[code]
But cy.login() leads to the above error message... So I can't really test my web application.

[2022-10-13 18:41] galaxyblur commented on #421
I just got this working after running in circles. (Note: I am NOT using cypress-firebase at this time, I have a manual implementation. However, I think this point is still relevant.)

I only got this to work by using browserLocalPersistence on both the Cypress end and the application end! Notice that it is local persistence, NOT session persistence. (You might not see that if you're just scanning

[2022-10-19 22:20] AurelienLoyer commented on #345
I was facing the same issue, looking this close issue, and... i got a fix 🤩
On my side, `get` action for `cy.callFirestore` was working well. Only `update` `set` ... wasn't 😢

Adding the `{ projectId: 'e2eprojectid' }` to the **cypressFirebasePlugin** conf solved my issue 🎉

[code]

[2022-10-19 22:27] AurelienLoyer commented on #700
FYI this solve my (not working `cy.callFirestore('update')`) issue https://github.com/prescottprue/cypress-firebase/issues/345#issuecomment-1284632330 🙏

[2022-10-27 08:27] mattwyld-north27 commented on #713
Also facing the same issue. I'm also trying to set up the service account key to see if that works

[code]

[2022-10-27 15:42] Dale-777 commented on #715
@Tockra I'm stuck on the exact same issue, did you take the generated .json file from "generate private key" via settings -> project settings -> service accounts

and save this as the env variable named SERVICE_ACCOUNT? or did you place that in the file named serviceAccount.json? and if so where did you place or make any reference to that file

Thanks for your help

[2022-11-14 15:46] Tockra commented on #715
I saved it as serviceAccount.json in the project folder.
Further I set this file nowhere. It automatically worked

[2022-11-14 20:22] Andrew-Pynch commented on #714
Did you have any luck with this?

[2022-11-14 20:26] negomi commented on #714
@Andrew-Pynch I didn't unfortunately!

[2022-11-15 17:37] Aliwahid17 commented on #267
cy.login() is not working

#Error  ###defaultApp.auth is not a function
`

  48 |     function getAuth(tenantId) {

     | ^
  50 |         if (tenantId) {
  51 |             auth.tenantId = tenantId;
  52 |         }

`

[2022-11-18 06:40] silvanm commented on #713
I ran into the same issue. The solution to set the env var `SERVICE_ACCOUNT` to contain the credentials for the service account you can download from "Project Settings" -> "Service Accounts" in the Firebase console.

[2022-11-22 11:08] dmytrobasiukqa commented on #13
I'm experiencing this. Cypress in ^11.0.1

[2022-11-23 14:34] diogormendes commented on #714
Also looking for this !!

[2022-11-23 18:29] prescottprue commented on #13
@dmytrobasiukqa Could you provide steps to replicate or a repo?

[2022-11-24 12:27] diogormendes opened #719 "Retry on 401"
**Describe the bug**

I'm going back and forth with different login uid in my test. Sometimes I get a 401.
Is there a way to add a retry in those cases ?

<img width="461" alt="Screenshot 2022-11-24 at 09 27 17" src="https://user-images.githubusercontent.com/17742979/203784480-320fc898-ca2e-43c8-8d65-c78e52a3fcf4.png">

[2022-11-25 11:57] #719 closed

[2022-11-25 17:22] prescottprue commented on #711
Good callout - removing since the default location is used and therefore does not need to be specified

[2022-11-29 16:11] mcarriere opened #723 "bug(firestore): FieldValue.delete() not handled correctly"
**Describe the bug**
When we try to delete a field during a FIrestore document update, instead of the field getting deleted it seems to store the function as a value.

**To Reproduce**
Steps to reproduce the behavior:

[code]

We tried with Firebase compat and the new Firebase 9 syntax.

**Expected behavior/code**
The drawn field getting deleted

**Additional Context/Screenshots**
![image](https:/

[2022-11-30 12:02] janpansa opened #724 "feat(callFirestore): ability to use batch writes"
**Describe the solution you'd like**

I would like to make use of batch writes e.g.

`firestore.batch()`

and

`batch().set(ref, {})`

and

`batch().commit()`

We need this when seeding the database with some of our tests, for example, 600 documents needs to be stored in a collection that will then be tested on the front end with cypress.

**Describe alternatives you've considered**

The only alte